---
id: 46
next: 47
prev: 45
title: Кольцо
subtitle: височное пятидольчатое
description: Description test
lang: ru
num: Аар 107, Бз 284, П 410, D 5980
material: Золото; вес 2,28 г.
tech: Волочение, пайка.
size: Диаметр 1,21 см.; ширина долек макс. 0,92 см., диаметр дужки 0,12 см.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв. номер</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Украшение в виде полукольца из пяти спаянных проволок, утолщенное в центре и с одного конца прокованное в
            дужку округлого сечения. Она переходит в заостренную иглу, загнутую по контуру серьги.</p>
          <p>Слегка загрязнено, особенно на внутренней поверхности. Кончик иглы искривлен. Частично видна черная тушь от
            инвентарного номера, нанесенного сбоку. </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
