$base-color: #333333;
$base-font: "gotham_proregular", "Arial", sans-serif;
$base-light-font: "gotham_prolight", "Arial", sans-serif;
$title-font: "Cormorant Garamond", "Arial", sans-serif;

$transition-time: 0.3s;
$transition-type: ease-in-out;
$transition: $transition-time $transition-type;
