---
title: Страница предмета
description: Description test
---
{% extends "layouts/_layout-inner.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1>СЕРЬГА В ФОРМЕ ЛУННИЦЫ С ЗЕРНЬЮ</h1>
        <table>
          <tr>
            <td>Материал:</td>
            <td>золото</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>волочение, пайка, зернь</td>
          </tr>
        </table>
      </header>
    </article>
  </div>
</section>

{% endblock %}
