---
id: 40
next: 41
prev: 39
title: String
subtitle: of beads with three pendants
description: Description test
lang: en
num: Аар 91, Бз 21, П 58, А 5957
material: Gold; weight 25.32 g
tech: Drawing, soldering, embossing
size: Length 36.5 cm
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv. no.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A string of beads and pendants of various shapes. There are very few minute beads and there are more large
            beads, including smooth and toothed round beads; square disks, barrel-shaped ribbed; and hexagonal truncated
            biconical beads; square beads with incisions on the sides; and tubular two-winged beads. There are two large
            barrel-shaped ribbed beads, two tubular tetrahedral beads, and one spindle-shaped bead. Also, there are two
            mushroom-shaped pendants and one rod-shaped pendant with incisions on its lower end. Some beads are soiled
            and slightly bent. Some beads are fused together.</p>
        </div>

        <ul class="item__article-thumbs">
          {% for item in range(1, 2) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
