---
id: 31
next: 32
prev: 30
title: Hair-ring
subtitle: with six lobes and conical studs
description: Description test
lang: en
num: Аар 60, Бз 133, П 185, А 5926
material: Gold; weight 3.93 g
tech: Drawing, soldering
size: Diameter 1.42 cm; maximum width 1.05 cm; diameter of hook 0.12 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv. no.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A crescent-shaped item of jewelry made of six wires soldered together, thickening in the center and with
            one end beaten out into a rounded hook. The hook tapers to a wire, curving along the contour of the
            crescent. At the base of the hook three conical studs are soldered on to the crescent, arranged in a
            triangle. There are also rows of similar studs that differ in size and shape in rows across the body: two
            adjacent uneven rows, each of five studs, in the center of the crescent, and one row of three studs at its
            end.
          </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 4) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
