{% set pageTitle = "Коллекция" %}
{% set pageText = "Здесь представлены экспонаты коллекции, которые мы изучаем." %}

<section class="collection  swiper-slide" id="collection" data-hash="collection">
  <div class="collection__wrapper">
    <div class="collection__head">
      <h2 class="collection__title">{{pageTitle}}</h2>
      <div class="collection__text">
        <p>{{pageText}}</p>
      </div>
      <div class="collection__table">
        <table>
          <tr>
            <td>Центр производства:</td>
            <td>Малая Азия</td>
          </tr>
          <tr>
            <td>Датировка:</td>
            <td>вторая половина II тыс. до н.э.</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="collections__catalog">
      <div class="collections__column">
        <a href="#" class="collections__item  collections__item--full"><img src="images/items/14.png" alt=""></a>
        <a href="#" class="collections__item"><img src="images/items/8.png" alt=""></a>
      </div>
      <div class="collections__column">
        <a href="#" class="collections__item  collections__item--full"><img src="images/items/11.png" alt=""></a>
        <a href="#" class="collections__item"><img src="images/items/15.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--half"><img src="images/items/2.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--half"><img src="images/items/7.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--full"><img src="images/items/4.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--half"><img src="images/items/3.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--half"><img src="images/items/10.png" alt=""></a>
      </div>
      <div class="collections__column">
        <a href="#" class="collections__item  collections__item--six"><img src="images/items/1.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--third"><img src="images/items/12.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--third"><img src="images/items/16.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--six"><img src="images/items/9.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--six"><img src="images/items/5.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--third"><img src="images/items/13.png" alt=""></a>
        <a href="#" class="collections__item  collections__item--six"><img src="images/items/6.png" alt=""></a>
      </div>
    </div>
    <!-- <ul class="collection-list">
      {% for i in range(1, 15) -%}
      <li class="collection__item  grid-item">
        <a href="item.html" class="collection__item-link">
          <img src="images/items/{{i}}.png" alt="">
        </a>
      </li>
      {%- endfor %}
    </ul> -->
  </div>
</section>
