{% set pageTitle = "Исследование" %}
{% set pageText = "Здесь представлены экспонаты коллекции, которые мы изучаем" %}

<section class="collection  swiper-slide  main-slide" id="collection" data-hash="collection">
        <div class="collection__wrapper">
                <div class="collection__head">
                        <h2 class="collection__title">{{pageTitle}}</h2>
                        <div class="collection__text">
                                <p>{{pageText}}</p>
                        </div>
                        <div class="collection__table">
                                <table>
                                        <tr>
                                                <td>Центр <br>производства</td>
                                                <td>Малая Азия</td>
                                        </tr>
                                        <tr>
                                                <td>Датировка</td>
                                                <td>вторая половина II тыс. до н. э.</td>
                                        </tr>
                                </table>
                        </div>
                </div>
                <div class="collections__catalog-slider  swiper-container">
                        <div class="collections__catalog  swiper-wrapper">
                                <div class="collections__column  swiper-slide">
                                        <a href="items/10/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/10/125-1.png" alt=""></a>

                                        <a href="items/11/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/11/125-4.png" alt=""></a>
                                        <a href="items/12/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/12/125-1.png" alt=""></a>
                                        <a href="items/13/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/13/125-4.png" alt=""></a>
                                        <a href="items/14/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/14/125-3.png" alt=""></a>
                                        <a href="items/15/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/15/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <div class="collections__item  collections__item--full">
                                                <a href="items/6/{{lang}}/index.html" class=""><img
                                                                src="images/items/6/1200-1.png" alt=""></a>
                                                <a href="items/5/{{lang}}/index.html" class=""><img
                                                                src="images/items/5/1200-1.png" alt=""></a>
                                        </div>
                                </div>


                                <div class="collections__column  swiper-slide">
                                        <a href="items/16/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/16/125-1.png" alt=""></a>
                                        <a href="items/17/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/17/125-1.png" alt=""></a>
                                        <a href="items/18/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/18/125-1.png" alt=""></a>
                                        <a href="items/19/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/19/125-1.png" alt=""></a>
                                        <a href="items/20/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/20/125-1.png" alt=""></a>
                                        <a href="items/21/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/21/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/9/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/9/1200-1.png" alt=""></a>
                                </div>

                                <!-- qwqd -->

                                <div class="collections__column  swiper-slide">
                                        <a href="items/22/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/22/125-3.png" alt=""></a>
                                        <a href="items/23/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/23/125-1.png" alt=""></a>
                                        <a href="items/24/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/24/125-2.png" alt=""></a>
                                        <a href="items/25/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/25/125-2.png" alt=""></a>
                                        <a href="items/26/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/26/125-1.png" alt=""></a>
                                        <a href="items/27/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/27/125-3.png" alt=""></a>
                                </div>
                                <div class="collections__column  swiper-slide">
                                        <a href="items/2/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/2/1200-1.png" alt=""></a>
                                </div>
                                <div class="collections__column  swiper-slide">
                                        <a href="items/28/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/28/125-1.png" alt=""></a>
                                        <a href="items/34/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/34/125-1.png" alt=""></a>
                                        <a href="items/30/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/30/125-3.png" alt=""></a>
                                        <a href="items/31/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/31/125-2.png" alt=""></a>
                                        <a href="items/32/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/32/125-1.png" alt=""></a>
                                        <a href="items/33/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/33/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/3/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/3/1200-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/29/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/29/125-2.png" alt=""></a>
                                        <a href="items/35/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/35/125-1.png" alt=""></a>
                                        <a href="items/36/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/36/125-1.png" alt=""></a>
                                        <a href="items/37/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/37/125-2.png" alt=""></a>
                                        <a href="items/38/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/38/125-1.png" alt=""></a>
                                        <a href="items/39/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/39/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/3/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/4/1200-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/40/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/40/125-1.png" alt=""></a>
                                        <a href="items/41/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/41/125-1.png" alt=""></a>
                                        <a href="items/42/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/42/125-1.png" alt=""></a>
                                        <a href="items/43/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/43/125-2.png" alt=""></a>
                                        <a href="items/44/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/44/125-1.png" alt=""></a>
                                        <a href="items/45/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/45/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/1/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/1/1200-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/46/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/46/125-2.png" alt=""></a>
                                        <a href="items/47/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/47/125-1.png" alt=""></a>
                                        <a href="items/48/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/48/125-1.png" alt=""></a>
                                        <a href="items/49/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/49/125-2.png" alt=""></a>
                                        <a href="items/50/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/50/125-1.png" alt=""></a>
                                        <a href="items/51/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/51/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/69/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/69/1200-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/52/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/52/125-2.png" alt=""></a>
                                        <a href="items/53/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/53/125-1.png" alt=""></a>
                                        <a href="items/54/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/54/125-1.png" alt=""></a>
                                        <a href="items/55/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/55/125-2.png" alt=""></a>
                                        <a href="items/56/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/56/125-1.png" alt=""></a>
                                        <a href="items/57/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/57/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/7/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/7/1200-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/58/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/58/125-2.png" alt=""></a>
                                        <a href="items/59/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/59/125-1.png" alt=""></a>
                                        <a href="items/60/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/60/125-1.png" alt=""></a>
                                        <a href="items/61/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/61/125-2.png" alt=""></a>
                                        <a href="items/62/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/62/125-1.png" alt=""></a>
                                        <a href="items/63/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/63/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/8/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/8/1200-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/64/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/64/125-2.png" alt=""></a>
                                        <a href="items/65/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/65/125-1.png" alt=""></a>
                                        <a href="items/66/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/66/125-1.png" alt=""></a>
                                        <a href="items/67/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/67/125-2.png" alt=""></a>
                                        <a href="items/70/{{lang}}/index.html"
                                                class="collections__item  collections__item--half"><img
                                                        src="images/items/70/125-1.png" alt=""></a>
                                </div>

                                <div class="collections__column  swiper-slide">
                                        <a href="items/68/{{lang}}/index.html"
                                                class="collections__item  collections__item--full"><img
                                                        src="images/items/68/1200-2.png" alt=""></a>
                                </div>
                        </div>

                        <div class="swiper-pagination"></div>

                        <div class="collections__catalog-slider-nav">
                                <div class="collections__catalog-slider-button-prev">Предыдущая страница</div>
                                <div class="collections__catalog-slider-button-next">Следующая страница</div>
                        </div>

                </div>

        </div>
</section>
