{% set pageTitle = "Коллекция" %}
{% set pageText = "Здесь представлены экспонаты коллекции, которые мы изучаем." %}

<section class="collection  swiper-slide  main-slide" id="collection" data-hash="collection">
  <div class="collection__wrapper">
    <div class="collection__head">
      <h2 class="collection__title">{{pageTitle}}</h2>
      <div class="collection__text">
        <p>{{pageText}}</p>
      </div>
      <div class="collection__table">
        <table>
          <tr>
            <td>Центр производства:</td>
            <td>Малая Азия</td>
          </tr>
          <tr>
            <td>Датировка:</td>
            <td>вторая половина II тыс. до н.э.</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="collections__catalog">
      <div class="collections__column">
        <a href="items/13/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/13/125-1.png" alt=""></a>
        <a href="items/2/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/2/125-1.png" alt=""></a>
        <a href="items/3/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/3/125-1.png" alt=""></a>
        <a href="items/16/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/16/125-1.png" alt=""></a>
        <a href="items/11/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/11/125-1.png" alt=""></a>
        <a href="items/12/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/12/125-1.png" alt=""></a>
      </div>
      <div class="collections__column">
        <a href="items/5/{{lang}}/index.html" class="collections__item  collections__item--full"><img
            src="images/items/5/1200-1.png" alt=""></a>
      </div>
      <div class="collections__column">
        <a href="items/14/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/14/125-1.png" alt=""></a>
        <a href="items/1/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/1/125-1.png" alt=""></a>
        <a href="items/15/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/16/125-1.png" alt=""></a>
        <a href="items/4/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/4/125-1.png" alt=""></a>
        <a href="items/18/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/18/125-1.png" alt=""></a>
        <a href="items/19/{{lang}}/index.html" class="collections__item  collections__item--half"><img
            src="images/items/19/125-1.png" alt=""></a>
      </div>
    </div>
  </div>
</section>
