{% set pageTitle = "Участники проекта" %}
<section class="contributors  swiper-slide  main-slide" data-hash="contributors">
  <div class="contributors__wrapper">
    <h2 class="contributors__title">{{pageTitle}}</h2>
    <div class="contributors__content">
      <h2>Над проектом работали:</h2>
      <table>
        <tr>
          <td>Софья Азаренкова</td>
          <td>специалист по компьютерной графике</td>
        </tr>
        <tr>
          <td>Дарья Бабич</td>
          <td>перевод и редактура английских текстов, озвучка</td>
        </tr>
        <tr>
          <td>Игорь Бородин</td>
          <td>заведующий Отдела реставрации и консервации</td>
        </tr>
        <tr>
          <td>Юрий Воронин</td>
          <td>художник-реставратор 2 кат.</td>
        </tr>
        <tr>
          <td>Ольга Головлева</td>
          <td>художник-реставратор 2 кат.</td>
        </tr>
        <tr>
          <td>Дмитрий Завильгельский</td>
          <td>оператор, режиссер</td>
        </tr>
        <tr>
          <td>Анна Каменских</td>
          <td>заведующая Отдела организации выставок</td>
        </tr>
        <tr>
          <td>Константин Корганов</td>
          <td>техник 2 кат. Отдела искусства и археологии Античного мира</td>
        </tr>
        <tr>
          <td>Андрей Кудрявицкий</td>
          <td>фотосъемка</td>
        </tr>
        <tr>
          <td>Александр Лесухин</td>
          <td>верстка, программирование</td>
        </tr>
        <tr>
          <td>Полина Любимова</td>
          <td>редактура русских текстов</td>
        </tr>
        <tr>
          <td>Татьяна Потапова</td>
          <td>Главный хранитель</td>
        </tr>
        <tr>
          <td>Федор Ратников</td>
          <td>оператор, режиссер</td>
        </tr>
        <tr>
          <td>Ольга Самар</td>
          <td>старший научный сотрудник Отдела искусства и археологии Античногомира</td>
        </tr>
        <tr>
          <td>Елена Синицына</td>
          <td>художник-реставратор 1 кат.</td>
        </tr>
        <tr>
          <td>Игорь Ткачев</td>
          <td>специалист по компьютерной графике</td>
        </tr>
        <tr>
          <td>Владимир Толстиков</td>
          <td>заведующий Отдела искусства и археологии Античного мира</td>
        </tr>
        <tr>
          <td>Михаил Тулубенский</td>
          <td>художник-реставратор 1 кат.</td>
        </tr>
        <tr>
          <td>Джордан Уэрсли</td>
          <td>озвучка</td>
        </tr>
        <tr>
          <td>Майя Шулепова</td>
          <td>арт-директор, руководитель Отдела онлайн- и видеопроектов</td>
        </tr>
      </table>

      <h2>ООО «Брукер»</h2>
      <table>
        <tr>
          <td>Григорий Кузнецов</td>
          <td>Руководитель отдела Брукер Нано, к.ф.-м.н. (ООО Брукер)</td>
        </tr>
      </table>
      <p></p>

      <h2>ООО «Остек-АртТул»</h2>
      <table>
        <tr>
          <td>Захар Примушко</td>
          <td>Генеральный директор</td>
        </tr>
        <tr>
          <td>Александр Фролов </td>
          <td>Руководитель направления</td>
        </tr>
        <tr>
          <td>Владимир Скоробогатов</td>
          <td>инженер</td>
        </tr>
      </table>
    </div>
  </div>
</section>
