{% set pageTitle = "Участники проекта" %}
<section class="person  swiper-slide  main-slide" data-hash="contributors">
  <div class="person__wrapper">
    <h2 class="person__title">{{pageTitle}}</h2>
    <div class="person__description  person__description--full">
      <h2>Над проектом работали:</h2>
      <ul>
        <li>
          <p>Софья Азаренкова – специалист по компьютерной графике</p>
        </li>
        <li>
          <p>Дарья Бабич – перевод и редактура английских текстов, озвучка</p>
        </li>
        <li>
          <p>Игорь Бородин – заведующий Отдела реставрации и консервации</p>
        </li>
        <li>
          <p>Юрий Воронин – художник-реставратор 2 кат.</p>
        </li>
        <li>
          <p>Ольга Головлева – художник-реставратор 2 кат.</p>
        </li>
        <li>
          <p>Дмитрий Завильгельский – оператор, режиссер</p>
        </li>
        <li>
          <p>Анна Каменских – заведующая Отдела организации выставок</p>
        </li>
        <li>
          <p>Константин Корганов – техник 2 кат. Отдела искусства и археологии Античного мира</p>
        </li>
        <li>
          <p>Андрей Кудрявицкий – фотосъемка</p>
        </li>
        <li>
          <p>Александр Лесухин – верстка, программирование</p>
        </li>
        <li>
          <p>Полина Любимова – редактура русских текстов</p>
        </li>
        <li>
          <p>Татьяна Потапова – Главный хранитель</p>
        </li>
        <li>
          <p>Федор Ратников – оператор, режиссер</p>
        </li>
        <li>
          <p>Ольга Самар – старший научный сотрудник Отдела искусства и археологии Античногомира</p>
        </li>
        <li>
          <p>Елена Синицына – художник-реставратор 1 кат.</p>
        </li>
        <li>
          <p>Игорь Ткачев – специалист по компьютерной графике</p>
        </li>
        <li>
          <p>Владимир Толстиков – заведующий Отдела искусства и археологии Античного мира</p>
        </li>
        <li>
          <p>Михаил Тулубенский – художник-реставратор 1 кат.</p>
        </li>
        <li>
          <p>Джордан Уэрсли – озвучка</p>
        </li>
        <li>
          <p>Майя Шулепова – арт-директор, руководитель Отдела онлайн- и видеопроектов</p>
        </li>
      </ul>

      <h2>ООО «Брукер»</h2>
      <p>Григорий Кузнецов - Руководитель отдела Брукер Нано, к.ф.-м.н. (ООО Брукер)</p>

      <h2>ООО «Остек-АртТул»</h2>
      <ul>
        <li>Захар Примушко – Генеральный директор</li>
        <li>Александр Фролов – Руководитель направления</li>
        <li>Владимир Скоробогатов – инженер</li>
      </ul>


      <p>Grigory Kuznetsov, PhD,</p>
      <p>Head of Bruker Nano department Russia and CIS</p>
    </div>
  </div>
</section>
