{% set pageTitle = "Генрих Шлиман" %}
<section class="person  swiper-slide  main-slide" data-hash="person">
  <div class="person__wrapper">
    <h2 class="person__title">{{pageTitle}}</h2>
    <p class="person__years">1822 — 1890</p>
    <div class="person__description">
      <div class="person__photo"><img src="images/shliman.jpg" alt=""></div>
      <div class="person__text">
        <p>Генрих Шлиман родился 6 января 1822 года в Неубукове, близ Висмара, в земле Мекленбург в семье
          протестантского священника Эрнста Шлимана.
          В 1823 году семья Шлимана переселилась в Анкерсхаген, где прошли детские и юношеские годы жизни Генриха
          Шлимана.
          В 1835 году Шлиман оставил школу и переехал в город Фюрстенберг, где поступил на работу в качестве ученика
          приказчика в лавку Эрнста Людвига Холтца.
        </p>
        <p>В 1844 году перебрался в Амстердам, где получил место бухгалтера в фирме В. Н. Schroder & Со.</p>
        <p>В 1846 году в качестве торгового агента этой фирмы прибыл в Санкт- Петербург. В 1847, благодаря крупным
          успехам в бизнесе, прежде всего в торговле индиго, включен в списки российских купцов первой гильдии.</p>

        <p>В 1850-1852 годах Шлиман совершает первую поездку в США, в Калифорнию, где в результате удачных банковских
          операций удваивает свой капитал. После возвращения в Петербург женится на дочери русского купца Лыжиной
          Екатерине Петровне, неудачный брак с которой продолжается 17 лет. От этого брака рождаются трое детей: сын
          Сергей и две дочери — Наталия и Надежда.</p>
      </div>
    </div>
  </div>
</section>
