<section class="promo  swiper-slide  main-slide" id="promo" data-hash="promo">
  <!-- <img class="thumbnail" src="images/items/15.png" alt="image"> -->
  <div id="parallax"></div>
  <h1 class="promo__title">
    Золото <br>Трои
    <span class="promo__text">Из коллекции ГМИИ им. А.С. Пушкина</span>
  </h1>

  <div class="promo__mobile-attention">
    Переверните
    телефон
    <img src="images/phone-icon.svg" alt="">
  </div>
  <div class="promo__main-text">
    <p><i>ГМИИ им. А.С. Пушкина при поддержке золотодобывающей компании «Полюс» приступает к реализации
        научно-исследовательского проекта по изучению группы предметов из всемирно известной троянской коллекции Генриха
        Шлимана. На первом этапе проекта будут изучены 65 ювелирных изделий из всех хранящихся в музее 13 кладов.</i>
    </p>
    <p>Коллекцию из 259 предметов, хранящуюся и экспонируемую в ГМИИ им. А.С. Пушкина, составляют предметы из 13 кладов,
      обнаруженных Генрихом Шлиманом во время раскопок Трои в 1873-м, а также в 1878–1890 годах. Это различные
      украшения,
      сосуды, антропоморфные фигурки, топоры-молоты, изделия из горного хрусталя и т.д. Из 19 кладов, с 1881 года
      хранившихся в Берлине, в Москву попали предметы из 13 &mdash; преимущественно изделия из драгоценных металлов и
      камня.
    </p>
    <p>Исследовательский проект Пушкинского музея, поддержанный золотодобывающей компанией «Полюс», является научным
      событием мирового масштаба. Первый этап будет состоять из макросъемки и изучения состава металлов на специальном
      приборе. Предметы из троянской коллекции существуют либо в единственном экземпляре, либо имеют небольшое
      количество аналогий. Они еще никогда не исследовались современными научными методами. Сегодня начинается новый
      период в истории этой уникальной коллекции. Все этапы работы будут сопровождаться видеосъемкой, на основе
      которой будет выпущена серия мини-фильмов с комментариями экспертов.
    </p>
  </div>
</section>
