<section class="promo  swiper-slide" id="promo" data-hash="promo">
  <!-- <img class="thumbnail" src="images/items/15.png" alt="image"> -->
  <div id="parallax"></div>
  <h1 class="promo__title">Золото <br>Трои</h1>
  <p class="promo__text">Из коллекции ГМИИ им. А.С. Пушкина</p>
  <div class="promo__main-text">
    <p>ГМИИ им. А.С. Пушкина при поддержке золотодобывающей компании «Полюс» приступает к реализации
      научно-исследовательского проекта по изучению группы предметов из всемирно известной троянской коллекции Генриха
      Шлимана. На первом этапе проекта будут изучены 65 ювелирных изделий из всех хранящихся в музее 13 кладов.
    </p>
    <p>Коллекцию из 259 предметов, хранящуюся и экспонируемую в ГМИИ им. А.С. Пушкина, составляют предметы из 13 кладов,
      обнаруженных Генрихом Шлиманом во время раскопок Трои в 1873, а также в 1878–1890 годах. Это различные украшения,
      сосуды, антропоморфные фигурки, топоры-молоты, изделия из горного хрусталя и т.д. Из 19 кладов, с 1881 года
      хранившихся в Берлине, в Москву попали предметы из 13 – преимущественно изделия из драгоценных металлов и камня.
    </p>
  </div>
</section>
