<section class="timeline-section  swiper-slide" id="timeline" data-hash="timeline">
  <div class="timeline-section__wrapper">

    <div class="timeline">
      <div class="timeline__content">
        <ul class="timeline__content-list">
          <li class="timeline__content-item">
            <article class="timeline__article">
              ШЛИМАНОМ
              открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А
            </article>
          </li>
          <li class="timeline__content-item">1874 г.</li>
          <li class="timeline__content-item">1874—1875 гг.</li>
          <li class="timeline__content-item">1876 г.</li>
          <li class="timeline__content-item">1878—1879 гг.</li>
          <li class="timeline__content-item">1881 1887 (?) гг.</li>
          <li class="timeline__content-item">1890 г.</li>
          <li class="timeline__content-item">1902 г.</li>
          <li class="timeline__content-item">1922 г.</li>
          <li class="timeline__content-item">1941 г.</li>
          <li class="timeline__content-item">1945 г.</li>
          <li class="timeline__content-item">Декабрь 1994 —
            январь 1995 гг.</li>
          <li class="timeline__content-item">1996-1997 г.</li>
          <li class="timeline__content-item">1997 г. —
            по наст. время</li>
        </ul>
      </div>
      <div class="timeline__line">
        <ul class="timeline__list-years">
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">27-31 мая 1873 г.</button>
          </li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1874 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1874—1875 гг.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1876 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1878—1879 гг.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1881 1887 (?) гг.</button>
          </li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1890 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1902 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1922 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1941 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1945 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">Декабрь 1994 —
              январь 1995 гг.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1996-1997 г.</button></li>
          <li class="timeline__list-year"><button class="timeline__year-btn" type="button">1997 г. —
              по наст. время</button></li>
        </ul>
      </div>
    </div>
  </div>
</section>
