{% set pageTitle = "История Трои" %}
<section class="person  swiper-slide  main-slide" data-hash="troy-story">
  <div class="map">
    <div class="map__wrapper">
      <h2 class="map__title">{{pageTitle}}</h2>
      <div class="map__slider-left  swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="images/maps/troy-2.jpg" data-fancybox="gallery"><img
                src="images/maps/troy-2.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="images/maps/troy-6.jpg" data-fancybox="gallery"><img
                src="images/maps/troy-6.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="images/maps/troy-7.jpg" data-fancybox="gallery"><img
                src="images/maps/troy-7.jpg" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="map__slider-right  swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h2>ТРОЯ II</h2>
            <p>В современной исторической науке археологический горизонт Троя II на холме Гиссарлык (совр. Турция)
              относится к эпохе раннего бронзового века, а именно к периоду «культуры морской Трои», поскольку ее
              влияние распространялось на северное побережье Эгейского и Мраморного морей. Существование Трои II длилось
              около 300 лет, между 2550 и 2250 годами до н. э. Этот период характеризуется развитием навыков
              мореходства, расширением торгово-экономических связей, активизацией металлургии, в частности
              совершенствованием приемов торевтики — изготовления ювелирных изделий из драгоценных металлов, и введением
              в керамическое производство гончарного круга.
            </p>

            <p>Ядром поселения Троя II служил расположенный на вершине холма акрополь площадью до 11 тыс. квадратных
              метров, защищенный кольцом оборонительных стен протяженностью около 330 метров. Под защитой этих
              укреплений, представлявших собой мощный цоколь из каменной кладки высотой до 6 метров, на котором
              покоилась стена из необожженного (сырцового) кирпича высотой до 3 метров, располагались здания-мегароны,
              служившие для проведения религиозных церемоний и собраний представителей правящей элиты поселения. </p>

            <p>В ходе археологических раскопок установлено, что период Троя II включает в себя не менее восьми
              строительных фаз, фиксирующих неоднократное расширение и совершенствование укреплений акрополя: например,
              периметр стен был усилен четырехугольными в плане бастионами, а главные ворота (FO и FM) снабжены
              монументальным наклонным, замощенным камнем пандусом длиной 21 метр и шириной 7,5 метров.</p>

            <p>С южной стороны к холму акрополя примыкал нижний город, в котором обитало основное население Трои II.
              Территория этого расположенного на равнине города была защищена линией укреплений в виде мощного
              деревянного частокола и достигала 90 тыс. квадратных метров. </p>

            <p>Раскопки показали, что три из восьми строительных фаз периода Троя II завершились пожарами и разрушениями
              поселения. Именно под этими слоями пожарищ и в них были обнаружены 19 комплексов предметов, обозначенных
              как «клады» и вошедших под этим наименованием в науку. Наиболее крупный из них был найден Генрихом
              Шлиманом в 1873 году и назван «Сокровищем царя Приама» (клад А). Позднее эти клады получили буквенные
              обозначения.
            </p>

            <p>259 предметов из 13 кладов (A, B, D, E, F, Ha, Hb, J, K, L, N, O, R) хранятся в настоящее время в
              собрании ГМИИ им. А.С. Пушкина и представлены в зале № 3.</p>
          </div>
          <div class="swiper-slide">
            <h2>ТРОЯ VI</h2>
            <p>После катастрофы, уничтожившей поселение на холме Гиссарлык,
              известное в науке как Троя II, прошел значительный отрезок времени, в
              течение которого на этом месте последовательно возникли и исчезли три
              поселения, обозначенные как Троя III, Троя IV и Троя V.</p>

            <p>Около 1750 года до н. э., то есть в эпоху позднего бронзового века,
              здесь было основано поселение Троя VI, территория которого включала
              цитадель и нижний город. Насколько можно судить, обитатели Трои VI не
              имели ничего общего ни в генетическом, ни в культурном плане с
              населением Трои II.</p>

            <p>Ученые подразделяют существование поселения Трои VI на три этапа:
              ранний, средний и поздний. Уже в первый период существования цитадель
              Трои VI была окружена оборонительной стеной, которая по мере развития
              становилась все выше и толще и включала в свой периметр все большее
              пространство. Стена цитадели Трои VI позднего периода имела
              протяженность 530 метров, а защищаемая ею территория составляла около
              1,8 гектаров. Под защитой этих мощных, усиленных башнями стен на
              террасах располагались здания мегаронного типа, некоторые из которых
              имели два этажа. Очевидно, что эти монументальные постройки служили
              жилищами для привилегированного слоя населения Трои, а также
              культовыми сооружениями.</p>

            <p>Крепостные стены и здания цитадели Трои VI позднего периода были
              частично разрушены сильным землетрясением в 1300 году до н. э.
              Восстановление цитадели относится уже к следующему периоду,
              именуемому Троя VIIa.</p>


          </div>
          <div class="swiper-slide">
            <h2>ТРОЯ VIIа</h2>
            <p>Этот период характеризуется ростом внешней военной угрозы
              и стремлением обитателей цитадели еще больше укрепить систему ее
              обороны. С этой целью перекрываются проемы юго-западных (VI U)
              и восточных (VI S) ворот. Под защитой укреплений возводится большое
              количество домов, имеющих, впрочем, значительно меньшие размеры, при этом они пристраиваются ко внутренней
              стороне оборонительной стены,
              вдоль которой прежде пролегали широкие улицы. В полах этих домов
              найдены заглубленные пифосы для хранения припасов; некоторые здания
              служили, вероятно, только складами, в других имелся дополнительный
              инвентарь, такой как печи, плиты, зерновые мельницы и ткацкие станки. Это
              говорит об изменении, а именно понижении статуса населения цитадели.</p>

            <p><b>Нижний город</b></p>
            <p>Раскопки, начатые в 1988 году под руководством профессора
              Манфреда Корфмана, сильно изменили наши представления об Илионе —
              Трое. Одним из наиболее важных результатов стала локализация границ
              нижнего города Трои VI и VIIа. Установлено, что начиная со средней фазы
              Трои VI поселение было окружено рвом, вырубленным в скале и служившим
              препятствием для натиска вражеских колесниц — новейшего и самого
              грозного оружия II тысячелетия до н. э. Площадь обороняемой рвом
              территории равнялась 305 тыс. квадратных метров. Весьма вероятно, что
              численность населения Трои в этот период могла составлять от 5 до 10 тыс.
              жителей.</p>
            <p>Троя VIIа погибла в пожаре примерно в 1190–1180 годах до н. э.
              Американский археолог Карл Блеген высказал предположение, что именно
              это разрушение связано с Троянской войной, воспетой Гомером. Гипотеза
              Блегена подкрепляется тем, что к этому же периоду относятся разрушения
              микенских центров в Греции, конец великой империи хеттов и натиск
              народов моря на Левант и Египет. Совокупность этих событий знаменует
              собой конец позднего бронзового века.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
