<section class="video-section  swiper-slide  main-slide" data-hash="video">
  <div class="video-section__wrapper">

    <div class="swiper-container gallery-top">
      <div class="swiper-wrapper">
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/MDTNBHM2RHI">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/MDTNBHM2RHI/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/MDTNBHM2RHI/maxresdefault.jpg"
                alt="Новый путь к сокровищам Трои II»">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/1Cj4eF1jym4">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/1Cj4eF1jym4/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/1Cj4eF1jym4/maxresdefault.jpg"
                alt="Сюжеты Троянского цикла в античной вазописи">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/N7v8T3Xqryw">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/N7v8T3Xqryw/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/N7v8T3Xqryw/maxresdefault.jpg"
                alt="Кто такой Гомер?">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/kbBkBm4RBOU">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/kbBkBm4RBOU/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/kbBkBm4RBOU/maxresdefault.jpg"
                alt="Троянская война и «Народы моря»: от мифа к истории">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/TCrWWqzMuiY">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/TCrWWqzMuiY/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/TCrWWqzMuiY/maxresdefault.jpg"
                alt="Тайны троянских кладов">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>

      </div>
    </div>
    <div thumbsSlider="" class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        {% for item in range(0, 5) -%}
        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <img src="images/video-thumb-1.jpg" alt="">
          </div>
        </div>
        {%- endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
