---
id: 68
next: 69
prev: 67
title: A pin
subtitle: with a rectangular head surmounted by six miniature vessels
description: Description test
lang: en
num: Aap 239, Бз 44, П 86, О 6133
material: Gold; weight 7.53 g.
tech: Forging, soldering, drawing
size: Overall height 6.98 cm..; total width 3.65 cm.; diameter of shaft 0.14 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv. no.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A pin with a sharpened shaft made of round wire, the upper part of which is flattened and secures a flat
            rectangular plate that is placed horizontally in relation to the wire. Six miniature, two-handled vessels
            with biconical bodies and disk-like rims on tall, cylindrical necks are soldered to the upper surface of the
            flattened wire. Each miniature vessel is made of seven elements soldered together.</p>
        </div>

        <ul class="item__article-thumbs">
          {% for item in range(1, 4) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
