.back-page-nav {
  position: absolute;
  left: -52px;
  top: 0;
  width: 52px;
  height: 363px;
  background-color: #d2aa74;

  a {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
