.back-page-nav {
  // position: absolute;
  // left: -52px;
  // top: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 52px;
  // height: 160px;
  margin: 250px 8px auto auto;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    background-color: #d2aa74;

    &:nth-child(2) {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 1023px) {
    width: 30px;
    height: 100px;
    margin-top: auto;
  }
}
