.collection {
  // background-attachment: fixed;
}

.collection__wrapper {
  // @include wrapper;
}

// .collection-list {
//   @include list-reset;
//   max-width: 920px;
// }

// .collection__item {
//   padding: 20px;
//   background-color: #1c1c1e;

//   a {
//     display: flex;
//   }
// }

.collections__catalog {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // gap: 36px;
  // align-items: flex-start;
  // max-width: 1105px;
  width: 100%;
}

.collections__column {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  height: auto;
  // gap: 5px;
  background-color: #1c1c1e;
}

.collections__item {
  display: flex;
  justify-content: center;
  background-color: #1c1c1e;
  align-items: center;
  padding: 20px;

  &--full {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    a {
      display: block;
    }
  }

  &--half {
    width: 50%;
    position: relative;
    // align-self: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 18px;
      height: 18px;
      border-top: 1px solid #916d47;
      border-left: 1px solid #916d47;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 18px;
      height: 18px;
      border-right: 1px solid #916d47;
      border-bottom: 1px solid #916d47;
    }
  }

  &--third {
    width: 32%;
  }

  &--six {
    width: 66%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.collection__head {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 28px;

  @media (max-width: 1200px) {
    grid-template-columns: 275px 250px;
    margin-bottom: 20px;
  }
}

.collection__title {
  @include title;
  grid-column: 1/2;
}

.collection__text {
  @include sectiontext;
  grid-column: 1/2;

  p {
    max-width: 490px;
  }

  @media (max-width: 1200px) {
    font-size: 10px;
    line-height: 12px;
  }
}

.collection__table {
  grid-row: 1/3;
  grid-column: 2/3;
  padding-top: 30px;

  font-weight: 300;
  font-size: 14px;
  line-height: 23px;

  table {
    tr {
      td {
        font-weight: 400;

        &:first-child {
          font-family: $base-light-font;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    padding-top: 10px;
    font-size: 8px;
    line-height: 14px;
  }
}

.collections__catalog-slider-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-family: "gotham_prolight";
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.collections__catalog-slider-button-prev,
.collections__catalog-slider-button-next {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;

  &.swiper-button-disabled {
    opacity: 0;
  }
}
