.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 30;
  grid-column: 2/4;
  grid-row: 1/2;
  padding-right: 6.7%;
}

.header__wrapper {
  // @include wrapper;
  padding-top: 43px;
  padding-bottom: 10px;
  display: flex;
  position: relative;

  @media (max-width: 767px) {
    padding-top: 27px;
  }
}
