.item {
  min-height: 100vh;
  padding-top: 120px;
  background-image: url("../images/item-bg.svg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

.item__wrapper {
  @include wrapper;
  position: relative;
}

.item__article {
  // min-height: 100vh;
}

.item__article-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1040px;
  position: relative;
}

.item__article-thumbs {
  @include list-reset;
  display: flex;
}

.item__article-thumb {
  margin-right: 3px;
  padding: 10px;
  background-color: #1c1c1e;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.item__arcticle-text {
  align-self: center;
  font-size: 12px;
  line-height: 19px;
}
