.main-nav__button {
  .main-nav__icon {
    stroke: $base-color;

    &-cross {
      display: none;
    }

    &-menu {
      display: block;
    }
  }

  &--open {
    .main-nav__icon {
      &-cross {
        display: block;
      }
      &-menu {
        display: none;
      }
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.main-nav__link {
  font-size: 12px;
  line-height: 11px;

  color: #ffffff;
  transition: all 0.3s ease;
}

.main-nav__list {
  @include list-reset;
  display: none;
  border-right: 1px solid #ffffff;

  &--open {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: right;

    .main-nav__link {
      color: #707070;
    }
  }

  .swiper-pagination-bullet-active {
    .main-nav__link {
      font-size: 20px;
      line-height: 19px;

      color: #ffffff;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 50px;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  right: 8%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-nav__item {
  position: relative;
  padding-right: 23px;
  color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}
