.page {
  height: 100%;
  background-color: #1c1c1e;
}

.page__body {
  min-width: 0%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $base-font;
  background-color: #1c1c1e;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  max-width: 1920px;
  display: grid;
  grid-template-columns: 101px 3.7fr 1fr;
  grid-template-rows: auto 1fr auto;

  &--inner {
    grid-template-columns: 101px 2.5fr 1fr;

    @media (max-width: 1023px) {
      grid-template-columns: 30px 2.5fr 1fr;
    }

    background-image: url("../images/item-bg.svg"),
      url("../images/item-bg-2.svg");
    background-repeat: repeat, no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
    background-position-x: center, right;
    background-position-y: top, bottom;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 30px 2.5fr 1fr;
  }

  &--slide-1 {
    background-image: url("../images/promo-bg.svg"),
      url("../images/promo-bg-2.jpg");
    background-repeat: no-repeat;
    background-position-y: top, -27px;
    background-size: cover, 89%;
  }

  &--slide-2 {
    // background-image: none;
    // background-image: url("../images/bg-left.svg"),
    //   url("../images/timeline-bg-2.png");
    // background-repeat: no-repeat, no-repeat;
    // background-size: contain, auto;
    // background-position-x: left, left;
    // background-position-y: bottom, bottom;

    background-image: none;
    background-image: url("../images/bg-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  &--slide-3 {
    background-image: url("../images/bg-left.svg"),
      url("../images/timeline-bg-2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
    background-position-x: left, left;
    background-position-y: bottom, bottom;
  }

  &--slide-4 {
    // background-image: none;
    // background-image: url("../images/item-bg.svg");
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position-y: bottom;
    // background-position-x: right;
    background-image: none;
    background-image: url("../images/bg-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  &--slide-5 {
    // background-image: none;
    // background-image: url("../images/person-bg.png"),
    //   url("../images/bg-left.svg");
    // background-repeat: no-repeat;
    // background-size: contain, contain;
    // background-position-y: bottom, top;
    // background-position-x: right, left;
    background-image: none;
    background-image: url("../images/item-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    background-position-x: right;
  }

  &--slide-6 {
    background-image: none;
    background-image: url("../images/promo-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }
}

.page__main {
  grid-column: 2/3;
  grid-row: 2/3;
  // height: 100%;

  &--inner {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
