.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 158px;
  align-items: center;
  // background-image: url("../images/promo-bg.svg"),
  //   url("../images/promo-bg-2.jpg");
  // background-repeat: no-repeat;
  // background-size: cover, 100%;
  // background-position-y: top;
  // min-height: 100vh;
  // min-height: 100vh;
  // padding-top: 85px;
  // padding-bottom: 220px;

  // #parallax {
  //   position: fixed;
  //   width: 100%;
  //   height: 100vh;
  //   background-image: url("../images/promo-bg-2.jpg");
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-position: 50% 50%;
  // }
  @media (max-width: 1199px) {
    padding-top: 90px;
  }
}

.promo__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-family: $title-font;
  font-size: 70px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    max-width: 630px;
    margin: 0 auto 37px auto;
    font-size: 150px;
    line-height: 0.8;
  }

  @media (max-width: 900px) and (orientation: landscape) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    font-family: $title-font;
    font-size: 70px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
}

.promo__text {
  padding-top: 10px;
  font-family: $base-font;
  text-transform: none;
  font-size: 14px;
  line-height: 13px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 19px;
  }
}

.promo__main-text {
  max-width: 425px;
  margin: 0 21% 13px auto;
  font-size: 9px;
  line-height: 13px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 660px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 16px;
  }

  p {
    margin: 0;

    &:first-child {
      margin-bottom: 18px;
    }

    i {
      font-style: italic;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* or 133% */

      text-align: center;

      color: #ffd89b;
    }
  }

  @media (max-width: 767px) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: 960px) and (orientation: landscape) {
    max-width: 425px;
    margin: 0 auto;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
  }
}

.promo__mobile-attention {
  display: none;

  @media (max-width: 767px) and (orientation: portrait) {
    display: flex;
  }
}
