.timeline-section {
  padding-top: 120px;
  background-image: url("../images/timeline-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline-section__wrapper {
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  // min-height: 100vh;
}
