.video-section {
  .swiper-container {
    max-width: 920px;
    margin: 0;
  }

  .gallery-top {
    margin-bottom: 25px;
  }

  .swiper-pagination {
    position: static;

    .swiper-pagination-bullet {
      width: 23px;
      height: 23px;
      margin-top: 13;
      border: 1px solid #ffd89b;
      background-color: transparent;
      opacity: 1;

      &-active {
        background-color: #ffd89b;
      }

      @media (min-width: 768px) {
        margin-top: 22px;
      }
    }
  }
}

.video-section__wrapper {
  // @include wrapper;
  // padding-top: 244px;
}

.gallery-thumbs .swiper-slide {
  // width: 20%;
  height: 100%;
  opacity: 1 !important;
  cursor: pointer;
}
