---
id: 18
next: 19
prev: 17
title: Кольцо
subtitle: височное шестидольчатое с коническими шишечками
description: Description test
lang: ru
num: Aap 48, Бз 121, П 173, A 5914
material: Золото; вес 4,26 г
tech: Волочение, пайка
size: Диаметр 1,23 см; ширина полукольца макс. 1,06 см; диаметр дужки 0,13 см
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв. номер</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Украшение в виде полукольца из шести спаянных проволок, утолщенное в центре и с одного конца прокованное в
            дужку округлого сечения. Дужка переходит в заостренную иглу, загнутую по контуру серьги. Полукольцо украшено
            тремя напаянными коническими шишечками, сгруппированными в треугольник у основания дужки, и тремя
            поперечными рядами подобных шишечек, отличающихся размерами и очертаниями: двумя смежными рядами из пяти
            шишечек в каждом в центре полукольца и рядом из трех шишечек на его конце.
          </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
