---
id: 52
next: 53
prev: 51
title: Crescent-shaped
subtitle: earring decorated with granulation
description: Description test
lang: en
num: Aap 112, Бз 278, П 404, D 5985
material: Gold; weight 3.23 g.
tech: Drawing, soldering, graining
size: Diameter 1.63 cm; maximum width 1.36 cm.; thickness 0.4 cm; diameter of hook 0.1 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv. no.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A crescent-shaped earring consisting of a one-piece crescent made of a solid wire thicker in the middle. A
            rounded hook ending in a sharpened wire curves along the contour of the earring. The crescent has three
            facets; the upper part is slightly concave. The ribs are decorated with lengthwise rows of granulation; the
            sides are decorated with crosswise rows of granulation - eight on each. One end of the crescent is decorated
            with a compressed, six-sided button with a toothed disk above it. </p>
        </div>

        <ul class="item__article-thumbs">
          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
