---
id: 2
next: 3
prev: 1
title: Sauceboat
subtitle: with double spout and two handles
description: Description test
lang: en
num: Аар 3, Бз 292, П 422, А 5862
material: Gold; weight 600.78 g (Schmidt 600 g)
tech: Drawing, soldering, graining
size: Length 18.5 cm; width 18.0 cm; height 8.7 cm; thickness of walls 0.16-0.24 cm; thickness of handles 1.7 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv. no.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A boat-shaped vessel with a horizontal rising spout at each end. The sides and spouts are asymmetrical. The
            interior surface retains clearly visible marks from the tools used to shape the vessel; there are also
            numerous fine longitudinal scratches. The outside surface is substantially smoother, without pronounced
            traces of hammering.
            Symmetrically placed, looped, hollow handles gradually widen toward their lower ends. </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
