---
id: 67
next: 68
prev: 66
title: Серьга
subtitle: в форме лунницы с зернью
description: Description test
lang: ru
num: Aap 232, Бз 393, П 530, N 6126
material: Золото; вес 4,45 г.
tech: Волочение, пайка, зернь
size: Диаметр 1,97 см.; ширина дольки макс. 0,39 см.; толщина долек макс. 0,68 см.; диаметр дужки 0,13 см.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв. номер</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Серьга в форме лунницы состоит из цельного полукольца, образованного массивной, утолщающейся в центральной
            части проволокой. Оно переходит в дужку круглого сечения, заканчивающуюся заостренной иглой, согнутой по
            контуру серьги. Ребра украшены рядами зерни. Боковые грани орнаментированы дуговидными рядами зерни. Конец
            полукольца украшен шайбами, насаженными на круглый в сечении конец лунницы: средняя, имеет округлую форму с
            гладкими краями. </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
