{% set
list = [
{
title: 'Item1'
},
{
title: 'Item2'
}
]
%}

{% set
years = [
{
id: '1',
year: '27-31 мая 1873 г.',
year_en: '27-31 of May 1873',
title:'ШЛИМАНОМ',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
title_en: 'Schliemann ',
subtitle_en: 'discovers a group of 8,830 objects, which he calls "The Treasure of Priam", treasure A',
image: 'images/timeline-1.png',
pinslist: [
{
id: '1',
title: 'Item1',
x: '1052',
y: '715',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '2',
title: 'Item2',
x: '195',
y: '504',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '3',
title: 'Item3',
x: '879',
y: '593',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
}
]
},

{
id: '2',
year: '1874 г.',
year_en: '1874',
title:'Информация ',
subtitle: 'о «Сокровище Приама» опубликована в книге Шлимана «Троянские древности – Отчет о раскопках в Трое. С атласом
троянских
древностей». Шлиман вывез сокровища в Афины, скрыв его от турецких властей.',
title_en: 'Information ',
subtitle_en: 'about the Treasure of Priam is published in Schliemann`s book Trojanische Altertümer: Bericht über die
Ausgrabungen in Troj. Schliemann took the treasure to Athens, hiding it from the Turkish authorities.',
image: 'images/timeline-1.png',
pinslist: [
{
id: '1',
title: 'Item1',
x: '1052',
y: '715',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '2',
title: 'Item2',
x: '195',
y: '504',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
}
]
},

{
id: '3',
year: '1874—1875 гг.',
year_en: '1874—1875',
title:'Шлиман',
subtitle: ' выступает ответчиком на судебном процессе, возбужденном турецкой стороной и присуждается к уплате штрафа.',
title_en: 'Schliemann ',
subtitle_en: 'is a defendant in a lawsuit brought by the Turkish side and is ordered to pay a fine.',
image: 'images/timeline-1.png'
},

{
id: '4',
year: '1876 г.',
year_en: '1876',
title:'Российское',
subtitle: ' археологическое общество предпринимает шаги для приобретения троянской коллекции, но этот вопрос остался
нерешенным. ',
title_en: 'The Russian Archaeological Society',
subtitle_en: ' is taking steps to acquire the Trojan collection, but the issue remains unresolved.
Schliemann, with the help of Virchow, again excavates Troy and finds a number of "small treasures".',
image: 'images/timeline-1.png'
},

{
id: '5',
year: '1878—1879 гг.',
year_en: '1878—1879',
title:'Шлиман',
subtitle: ' при участии Вирхова вновь проводит раскопки в Трое и находит ряд «малых кладов». ',
title_en: 'Schliemann,',
subtitle_en: ' with the help of Virchow, again excavates Troy and finds a number of "small treasures".',
image: 'images/timeline-1.png'
},

{
id: '6',
year: '1881
1887 (?) гг.',
year_en: '1881',
title:'Шлиман',
subtitle: ' приносит в дар городу Берлину троянскую коллекцию и становится почетным гражданином Берлина и почетным
членом Берлинского Общества этнологии и древней истории.
Первоначально троянская коллекция экспонировалась в Берлине в Этнографическом Музее.',
title_en: 'Schliemann',
subtitle_en: ' donates the Trojan collection to the city of Berlin and becomes an honorary citizen of Berlin and an
honorary member of the Berlin Society for Ethnology and Ancient History.
The Trojan collection was originally exhibited in Berlin at the Museum of Ethnography.',
image: 'images/timeline-1.png'
},
{
id: '7',
year: '1890 г.
1887 (?)',
year_en: '',
title:'Шлиман',
subtitle: ' совместно с Дёрпфельдом проводит свои последние раскопки в Трое, в ходе которых обнаружен клад L. Эти
находки также были тайно вывезены за пределы Турции.',
title_en: 'Schliemann, ',
subtitle_en: 'together with Dörpfeld, conducts his final excavations at Troy, during which he discovers the treasure L.
These finds were also smuggled out of Turkey.',
image: 'images/timeline-1.png'
},
{
id: '8',
year: '1902 г.',
year_en: '1902',
title:'Хуберт Шмидт',
subtitle: ' составил первый каталог предметов и предложил транслитерацию кладов латинскими буквами от A до R. ',
title_en: 'Hubert Schmidt',
subtitle_en: ' compiled the first catalogue of objects and suggested transliteration of the treasures in Latin letters
from A to R.',
image: 'images/timeline-1.png'
},
{
id: '9',
year: '1922 г.',
year_en: '1922',
title:'С 1922 года –',
subtitle: ' троянская коллекция экспонировалась в Музее доисторического периода и ранней истории, Берлин. ',
title_en: 'From 1922, ',
subtitle_en: 'the Trojan collection was exhibited at the Museum of Prehistory and Early History, Berlin.',
image: 'images/timeline-1.png'
},
{
id: '10',
year: '1941 г.',
year_en: '1941',
title:'',
subtitle: 'В ходе развязанной нацистской Германией Второй Мировой войной, троянские клады, вместе с другими наиболее
ценными произведениями искусства из берлинских музеев, причисленных к категории "невосполнимых", специальным
распоряжением были помещены в депозитарий Прусского государственного банка. Позднее, в ноябре 1941 года, из-за угрозы
английских бомбардировок, уникальные троянские древности перевели в бетонированный бункер противозенитной батареи,
сооруженной близ берлинского зоопарка (Flakturm am Zoo).',
title_en: 'During the Second World War ',
subtitle_en: 'started instigated by Nazi Germany, the Trojan treasures, together with other most valuable works of art
from Berlin`s museums, classified as "irreplaceable", were placed by special order in the depository of the Prussian
State Bank. Later, in November 1941, because of the threat of British bombing, the unique Trojan antiquities were moved
to the concrete bunker of the anti-aircraft battery built near the Berlin Zoo (Flakturm am Zoo).',
image: 'images/timeline-1.png'
},
{
id: '11',
year: '1945 г.',
year_en: '1945',
title:'Троянская коллекция',
subtitle: ' поступает в ГМИИ им. А.С. Пушкина и Государственный Эрмитаж. ',
title_en: 'The Trojan collection',
subtitle_en: ' arrives at the Pushkin State Museum of Fine Arts and the State Hermitage Museum.',
image: 'images/timeline-1.png'
},
{
id: '12',
year: 'Декабрь 1994 - январь 1995 гг.',
year_en: 'December 1994 – January 1995',
title:'',
subtitle: 'Ряд авторитетных специалистов-экспертов в области изучения культур эпохи бронзы из Германии, США, Англии,
Турции и Греции впервые получили возможность детально ознакомиться с хранящейся в Пушкинском музее коллекцией Шлимана.',
title_en: 'A number of respected experts',
subtitle_en: 'in the study of Bronze Age cultures from Germany, the USA, England, Turkey and Greece were given the
opportunity for the first time to examine the Schliemann collection at the Pushkin Museum in detail.',
image: 'images/timeline-1.png'
},
{
id: '13',
year: '1996 – 1997 гг. ',
year_en: '1996 – 1997',
title:'В ГМИИ им. А.С. Пушкина',
subtitle: ' открыта выставка «Сокровища Трои» и издан каталог коллекции Сокровища Трои из раскопок Генриха Шлимана.
Каталог выставки / под научной ред. М.Ю. Трейстера. Москва, 1996 г.',
title_en: 'The Pushkin State Museum of Fine Arts',
subtitle_en: ' has opened the exhibition "Treasures of Troy" and published the catalogue of the collection "Treasures of
Troy from Heinrich Schliemann`s excavations". Exhibition catalogue / edited by M.J. Treister. Moscow, 1996.',
image: 'images/timeline-1.png'
},
{
id: '14',
year: '1997 г. – по н.в.',
year_en: '1997 – present ',
title:'Основная часть',
subtitle: ' троянской коллекции вошла в состав постоянной экспозиции ГМИИ им. А.С. Пушкина и выставляется в зале № 3
Главного здания Музея. ',
title_en: 'The main part',
subtitle_en: ' of the Trojan collection is part of the permanent exhibition of the Pushkin State Museum of Fine Arts and
is displayed in Hall 3 of the Museum`s Main Building.',
image: 'images/timeline-1.png'
},
{
id: '15',
year: '1998 г. ',
year_en: '1998',
title:'В Государственном Эрмитаже',
subtitle: ' открыта выставка «Шлиман. Петербург. Троя» и издан каталог Шлиман. Петербург. Троя / автор концепции, отв.
научный редактор Ю.Ю. Пиотровский. СПб., 1998.',
title_en: 'The State Hermitage Museum',
subtitle_en: ' opens the exhibition "Schliemann. Petersburg. Troy" and publishes a catalogue "Schliemann. Petersburg.
Troy" / Y. Piotrovsky. SPb., 1998.',
image: 'images/timeline-1.png'
},
{
id: '16',
year: '2013 – 2014 гг.',
year_en: '2013 – 2014',
title:'Часть троянской коллекции',
subtitle: ' экспонировалась на выставке «Бронзовый век. Европа без границ. Четвертое – первое тысячелетия до новой эры»,
издан каталог Бронзовый век. Европа без границ. Четвертое – первое тысячелетия до н. э. Каталог выставки / авторы идеи
В. Менгин, Ю.Ю. Пиотровский, В.П. Толстиков. СПб., 2013. ',
title_en: 'Part of the Trojan collection',
subtitle_en: ' is exhibited at the exhibition "The Bronze Age. Europe without Borders. Fourth - first Millennium B.C.",
the catalogue "Bronze Age. Europe without Borders. Fourth - first millennia B.C." is published (Exhibition catalogue /
authors of the idea V. Mengin, Yu. SPb., 2013).',
image: 'images/timeline-1.png'
},
{
id: '17',
year: '2021 г.',
year_en: '2021',
title:'Начало проекта «Золото Трои»',
subtitle: '',
title_en: 'Beginning of the Gold of Troy project ',
subtitle_en: '',
image: 'images/timeline-1.png'
}
]
%}
