{% set
list = [
{
title: 'Item1'
},
{
title: 'Item2'
}
]
%}

{% set
years = [
{
id: '1',
year: '27-31 мая 1873 г.',
year_en: '27-31 of May 1873',
title:'ШЛИМАН ',
subtitle: 'открывает комплекс из 8830 предметов, которому дает название «Сокровище царя Приама», и вывозит его тайно в
Афины, скрыв находку от турецких властей.',
title_en: 'Schliemann ',
subtitle_en: 'discovers a group of 8,830 objects, which he calls "The Treasure of Priam", treasure A',
image: 'images/timeline-1.png',
pinslist: [
{
id: '1',
title: 'Item1',
x: '1052',
y: '715',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '2',
title: 'Item2',
x: '195',
y: '504',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '3',
title: 'Item3',
x: '879',
y: '593',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
}
]
},

{
id: '2',
year: '1874',
year_en: '1874',
title:'ВЫХОДИТ ',
subtitle: 'книга Шлимана «Троянские древности» («Trojanische Alterthümer»), посвященная обнаруженным на холме Гиссарлык
сокровищам.',
title_en: 'Information ',
subtitle_en: 'about the Treasure of Priam is published in Schliemann`s book Trojanische Altertümer: Bericht über die
Ausgrabungen in Troj. Schliemann took the treasure to Athens, hiding it from the Turkish authorities.',
image: 'images/timeline-1.png',
pinslist: [
{
id: '1',
title: 'Item1',
x: '1052',
y: '715',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '2',
title: 'Item2',
x: '195',
y: '504',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
}
]
},

{
id: '3',
year: '1874-1875',
year_en: '1874-1875',
title:'Шлиман',
subtitle: ' выступает ответчиком на судебном процессе, возбужденном турецкой стороной, и присуждается к уплате штрафа.',
title_en: 'Schliemann ',
subtitle_en: 'is a defendant in a lawsuit brought by the Turkish side and is ordered to pay a fine.',
image: 'images/timeline-1.png'
},

{
id: '4',
year: '1876',
year_en: '1876',
title:'МОСКОВСКОЕ',
subtitle: ' археологическое общество предпринимает шаги для приобретения троянской коллекции, но вопрос так и остается
нерешенным.',
title_en: 'The Russian Archaeological Society',
subtitle_en: ' is taking steps to acquire the Trojan collection, but the issue remains unresolved.
Schliemann, with the help of Virchow, again excavates Troy and finds a number of "small treasures".',
image: 'images/timeline-1.png'
},

{
id: '5',
year: '1878-1879',
year_en: '1878-1879',
title:'Шлиман',
subtitle: 'при участии Рудольфа Вирхова вновь проводит раскопки в Трое и находит ряд так называемых малых кладов.',
title_en: 'Schliemann,',
subtitle_en: ' with the help of Virchow, again excavates Troy and finds a number of "small treasures".',
image: 'images/timeline-1.png'
},

{
id: '6',
year: '1881 1887 (?)',
year_en: '1881 1887 (?)',
title:'ШЛИМАН',
subtitle: 'приносит троянскую коллекцию в дар Берлину и становится почетным гражданином города, а также почетным членом
Берлинского общества этнологии и древней истории. Троянская коллекция экспонируется в Музее народоведения. ',
title_en: 'Schliemann',
subtitle_en: ' donates the Trojan collection to the city of Berlin and becomes an honorary citizen of Berlin and an
honorary member of the Berlin Society for Ethnology and Ancient History.
The Trojan collection was originally exhibited in Berlin at the Museum of Ethnography.',
image: 'images/timeline-1.png'
},
{
id: '7',
year: '1890',
year_en: '1890',
title:'Шлиман',
subtitle: 'совместно с Вильгельмом Дёрпфельдом проводит свои последние раскопки в Трое, в ходе которых обнаруживается
клад L. Эти находки также тайно вывозятся за пределы Турции.',
title_en: 'Schliemann, ',
subtitle_en: 'together with Dörpfeld, conducts his final excavations at Troy, during which he discovers the treasure L.
These finds were also smuggled out of Turkey.',
image: 'images/timeline-1.png'
},
{
id: '8',
year: '1902',
year_en: '1902',
title:'ХРАНИТЕЛЬ',
subtitle: 'троянской коллекции Хуберт Шмидт составляет первый каталог предметов и предлагает буквенное обозначение
кладов — от A до R.',
title_en: 'Hubert Schmidt',
subtitle_en: ' compiled the first catalogue of objects and suggested transliteration of the treasures in Latin letters
from A to R.',
image: 'images/timeline-1.png'
},
{
id: '9',
year: '1922',
year_en: '1922',
title:'ТРОЯНСКАЯ КОЛЛЕКЦИЯ',
subtitle: ' переносится в берлинский Музей доисторического периода и ранней истории.',
title_en: 'From 1922, ',
subtitle_en: 'the Trojan collection was exhibited at the Museum of Prehistory and Early History, Berlin.',
image: 'images/timeline-1.png'
},

{
id: '11',
year: '1945',
year_en: '1945',
title:'Троянская коллекция',
subtitle: ' поступает в ГМИИ им. А.С. Пушкина и Государственный Эрмитаж. ',
title_en: 'The Trojan collection',
subtitle_en: ' arrives at the Pushkin State Museum of Fine Arts and the State Hermitage Museum.',
image: 'images/timeline-1.png'
},
{
id: '12',
year: 'декабрь 1994 — январь 1995',
year_en: 'December 1994 – January 1995',
title:'',
subtitle: 'Ряд авторитетных специалистов-экспертов в области изучения культур эпохи бронзы из Германии, США, Англии,
Турции и Греции впервые получили возможность детально ознакомиться с хранящейся в Пушкинском музее коллекцией Шлимана.',
title_en: 'A number of respected experts',
subtitle_en: 'in the study of Bronze Age cultures from Germany, the USA, England, Turkey and Greece were given the
opportunity for the first time to examine the Schliemann collection at the Pushkin Museum in detail.',
image: 'images/timeline-1.png'
},
{
id: '13',
year: '1996–1997',
year_en: '1996–1997',
title:'В ПУШКИНСКОМ МУЗЕЕ ',
subtitle: 'проходит выставка «Сокровища Трои из раскопок Генриха Шлимана». Выходит одноименный каталог.',
title_en: 'The Pushkin State Museum of Fine Arts',
subtitle_en: ' has opened the exhibition "Treasures of Troy" and published the catalogue of the collection "Treasures of
Troy from Heinrich Schliemann`s excavations". Exhibition catalogue / edited by M.J. Treister. Moscow, 1996.',
image: 'images/timeline-1.png'
},
{
id: '14',
year: '1997 — наст. время',
year_en: '1997 – present ',
title:'Основная часть',
subtitle: ' троянской коллекции входит в состав постоянной экспозиции ГМИИ им. А.С. Пушкина и выставляется в зале
№&nbsp;3 главного здания музея.',
title_en: 'The main part',
subtitle_en: ' of the Trojan collection is part of the permanent exhibition of the Pushkin State Museum of Fine Arts and
is displayed in Hall 3 of the Museum`s Main Building.',
image: 'images/timeline-1.png'
},
{
id: '15',
year: '1998',
year_en: '1998',
title:'В ЭРМИТАЖЕ',
subtitle: ' проходит выставка «Шлиман. Петербург. Троя». Выходит одноименный каталог.',
title_en: 'The State Hermitage Museum',
subtitle_en: ' opens the exhibition "Schliemann. Petersburg. Troy" and publishes a catalogue "Schliemann. Petersburg.
Troy" / Y. Piotrovsky. SPb., 1998.',
image: 'images/timeline-1.png'
},
{
id: '16',
year: '2013–2014',
year_en: '2013–2014',
title:'ЧАСТЬ',
subtitle: 'троянской коллекции экспонируется на выставке «Бронзовый век. Европа без границ. Четвертое — первое
тысячелетия до новой эры» в Государственном Эрмитаже и Государственном историческом музее. Выходит двуязычный каталог
«Бронзовый век. Европа без границ = Bronzezeit: Europa ohne Grenzen».',
title_en: 'Part of the Trojan collection',
subtitle_en: ' is exhibited at the exhibition "The Bronze Age. Europe without Borders. Fourth - first Millennium B.C.",
the catalogue "Bronze Age. Europe without Borders. Fourth - first millennia B.C." is published (Exhibition catalogue /
authors of the idea V. Mengin, Yu. SPb., 2013).',
image: 'images/timeline-1.png'
},
{
id: '17',
year: '2021 г.',
year_en: '2021',
title:'Начало проекта «Золото Трои»',
subtitle: '',
title_en: 'Beginning of the Gold of Troy project ',
subtitle_en: '',
image: 'images/timeline-1.png'
}
]
%}
