{% set
list = [
{
title: 'Item1'
},
{
title: 'Item2'
}
]
%}

{% set
years = [
{
id: '1',
year: '27-31 мая 1873 г.',
title:'ШЛИМАНОМ',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
image: 'images/timeline-1.png',
pinslist: [
{
id: '1',
title: 'Item1',
x: '1052',
y: '715',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '2',
title: 'Item2',
x: '195',
y: '504',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '3',
title: 'Item3',
x: '879',
y: '593',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
}
]
},

{
id: '2',
year: '1874 г.',
title:'ШЛИМАНОМ 2',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
image: 'images/timeline-1.png',
pinslist: [
{
id: '1',
title: 'Item1',
x: '1052',
y: '715',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
},
{
id: '2',
title: 'Item2',
x: '195',
y: '504',
text: 'София Шлиман в украшениях из «Сокровища Приама», 1875 г.'
}
]
},

{
id: '3',
year: '1874—1875 гг.',
title:'ШЛИМАНОМ 3',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
image: 'images/timeline-1.png'
},

{
id: '4',
year: '1876 г.',
title:'ШЛИМАНОМ 4',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
image: 'images/timeline-1.png'
},

{
id: '5',
year: '1878—1879 гг.',
title:'ШЛИМАНОМ 5',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
image: 'images/timeline-1.png'
},

{
id: '6',
year: '1881
1887 (?) гг.',
title:'ШЛИМАНОМ 6',
subtitle: 'открыт комплекс из 8830 предметов, которому он дал название «Сокровище Приама», клад А',
image: 'images/timeline-1.png'
}
]
%}
