{% set
persons = [
{
id: '1',
title: 'Генрих Шлиман',
years: '1822-1890',
period: '1870—1890 гг.',
open: 'true'
},
{
id: '2',
title: 'Вильгельм Дерпфельд',
years: '1853-1940',
period: '1882—1894 гг.',
open: 'false'
},
{
id: '3',
title: 'Карл Блеген',
years: '1887-1971',
period: '1932—1938 гг.',
open: 'false'
},
{
id: '4',
title: 'Манфред Корфман',
years: '1942-2005',
period: '1988—2005 гг.',
open: 'false'
},
{
id: '5',
title: 'Эрнст Перничка',
years: 'р. 1950 г.',
period: '2006—2012 гг.',
open: 'false'
},
{
id: '6',
title: 'Rüstem Aslan',
years: '???',
period: 'с 2014 гг — по настоящее время',
open: 'false'
}
]
%}
