---
id: 64
next: 65
prev: 63
title: Серьга
subtitle: в виде корзиночки с пятью подвесками в форме идолов
description: Description test
lang: ru
num: Аар 154, Бз 60, П 104, J 6036
material: Золото; вес 5,56 г.
tech: Ковка, пайка, штамповка
size: Высота корпуса серьги со щитком (без дужки) – 0,97 см.; ширина – 1,16 см.; глубина – 0,55 см.; толщина - 0,04 см.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Серьга в виде корзиночки, корпус которой состоит из согнутой пластины с вертикальными насечками,
            имитирующими шестнадцать спаянных проволок. Лицевая часть корпуса по верхнему краю украшена накладным
            декором, состоящим из трех напаянных розетт, образованных двумя концентрическими кольцами из проволоки,
            пространство между которыми заполнено шариками зерни. К нижним концам цепочек прикреплены плоские подвески –
            «идолы» в форме пешек.</p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
