{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html class="page" lang="{{lang}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} {{subtitle}} {% else %}Template{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}Description{% endif %}">
  <link rel="stylesheet" media="all" href="../../../css/style.min.css" />
  <!-- BEGIN social data -->
  {% include "../partials/_media-tags.html" %}
  <!-- END social data -->
  <link rel="icon" href="../../../favicon/favicon.ico">
  <link rel="icon" href="../../../favicon/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="../../../favicon/apple-touch-icon.png">
  <link rel="manifest" href="../../../favicon/manifest.webmanifest">
</head>

<body class="page__body  page__body--inner">

  <header class="header">
    <div class="header__wrapper">
      <div class="logo">
        {% if lang == 'ru' %}
        <a class="logo__link" href="../../../index.html"><img src="../../../images/logo.svg" width="292" height="44"
            alt="Логотип ГМИИ"></a>
        {% elif lang == 'en' %}
        <a class="logo__link" href="../../../index-eng.html"><img src="../../../images/logo.svg" width="292" height="44"
            alt="Логотип ГМИИ"></a>
        {% endif %}
        <a class="logo__link" href="#"><img src="../../../images/polus-logo.svg" width="174" height="37"
            alt="Логотип Полюс"></a>
      </div>

      <div class="lang">
        {% if lang == 'ru' %}
        <a href="../ru/index.html" class="lang__link  lang__link--active">Рус</a>
        <a href="../en/index.html" class="lang__link">Eng</a>
        {% elif lang == 'en' %}
        <a href="../ru/index.html" class="lang__link">Рус</a>
        <a href="../en/index.html" class="lang__link  lang__link--active">Eng</a>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- BEGIN content -->
  <div class="back-page-nav">
    {% if lang == 'ru' %}
    <!-- <a href="../../../index.html#collection">
      <svg class="back-page-nav__icon" aria-hidden="true" width="22" height="10">
        <use href="../../../images/sprite_auto.svg#icon-back"></use>
      </svg>
    </a> -->
    <a href="../../../items/{{prev}}/ru/index.html">
      <svg class="back-page-nav__icon" aria-hidden="true" width="22" height="10">
        <use href="../../../images/sprite_auto.svg#icon-back"></use>
      </svg>
    </a>
    <a href="../../../items/{{next}}/ru/index.html">
      <svg class="back-page-nav__icon" aria-hidden="true" width="22" height="10">
        <use href="../../../images/sprite_auto.svg#icon-back"></use>
      </svg>
    </a>
    {% elif lang == 'en' %}
    <!-- <a href="../../../index-eng.html#collection">
      <svg class="back-page-nav__icon" aria-hidden="true" width="22" height="10">
        <use href="../../../images/sprite_auto.svg#icon-back"></use>
      </svg>
    </a> -->
    <a href="../../../items/{{prev}}/en/index.html">
      <svg class="back-page-nav__icon" aria-hidden="true" width="22" height="10">
        <use href="../../../images/sprite_auto.svg#icon-back"></use>
      </svg>
    </a>
    <a href="../../../items/{{next}}/en/index.html">
      <svg class="back-page-nav__icon" aria-hidden="true" width="22" height="10">
        <use href="../../../images/sprite_auto.svg#icon-back"></use>
      </svg>
    </a>
    {% endif %}
  </div>
  <nav class="main-nav">
    <button class="main-nav__button" type="button" aria-expanded="false" aria-controls="main-nav__list">
      <svg class="main-nav__icon" aria-hidden="true" width="32" height="32">
        <use class="main-nav__icon-menu" href="../../../images/sprite_auto.svg#menu"></use>
        <use class="main-nav__icon-cross" href="../../../images/sprite_auto.svg#cross"></use>
      </svg>
    </button>
    <ul class="main-nav__list" id="main-nav__list">
      {% import "data/main-nav.html" as nav %}

      {% for item in nav.list %}
      <li class="main-nav__item">
        {% if lang == 'ru' %}
        <a class="main-nav__link main-nav__link--current" href="../../../index.html#{{item.link}}">{{item.title}}</a>
        {% elif lang == 'en' %}
        <a class="main-nav__link main-nav__link--current"
          href="../../../index-eng.html#{{item.link}}">{{item.title_en}}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>

  <main class="page__main  page__main--inner">
    {% block content %}{% endblock %}
  </main>
  <!-- END content -->

  <footer class="footer">
    <div class="footer__wrapper">

    </div>
  </footer>

  <!-- BEGIN scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../../../js/main.min.js"></script>
  <!-- END scripts -->

</body>

</html>
