---
id: 7
next: 8
prev: 6
title: Серьга
subtitle: в виде корзиночки с подвесками
description: Description test
lang: ru
num: Aap 12, Бз 57, П 101, A 5878
material: Золото; вес 8,46 г
tech: Ковка, пайка, штамповка
size: Длина цепочек с подвесками 6,3 см; высота корпуса серьги со щитком (без дужки) 1,06 см; ширина 1,5 см
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв. номер</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Серьга в виде корзиночки, корпус которой состоит из семи спаянных вертикальных элементов с закругленными
            краями типа лепестков; центральный из них шире остальных. Лицевая часть корпуса в верхней части украшена
            накладным декором, образованным тремя горизонтальными проволоками. Фон между ними заполнен двумя рядами
            миниатюрных розетт по девять в каждом, состоящих из плоских шайб, декорированных по верхней плоскости
            насечками, и с впаянной в центр зернью. В отверстия щитка продеты концы пяти двойных цепочек, унизанных
            чешуйками, к нижним концам которых прикреплены плоские подвески-«идолы» в форме пешек.
          </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
