---
id: 13
next: 14
prev: 12
title: Hair-ring
subtitle: with three lobes
description: Description test
lang: en
num: Aap 25, Бз 103, П 155, A 5891
material: Gold; weight 2.43 g.
tech: Drawing, soldering
size: Diameter 1.18 cm; maximum width 0.72 cm; diameter of hook 0.11 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A crescent-shaped item of jewelry made of three wires soldered together, thickening in the center and
            beaten out into a rounded hook at one end. The hook tapers to a sharpened point bent along the contour of
            the crescent.
          </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
