{% set pageTitle = "Contributors" %}
<section class="contributors  swiper-slide  main-slide" data-hash="contributors">
  <div class="contributors__wrapper">
    <h2 class="contributors__title">{{pageTitle}}</h2>
    <div class="contributors__content">
      <table>
        <tr>
          <td>Sofya Azarenkova</td>
          <td>graphic artist</td>
        </tr>
        <tr>
          <td>Daria Babich</td>
          <td>translation and editing, narration, voiceover </td>
        </tr>
        <tr>
          <td>Igor Borodin</td>
          <td>Head of the Department of Conservation</td>
        </tr>
        <tr>
          <td>Olga Golovleva</td>
          <td>art conservator</td>
        </tr>
        <tr>
          <td>Anna Kamenskikh</td>
          <td>Head of Exhibitions</td>
        </tr>
        <tr>
          <td>Konstantin Korganov</td>
          <td>technician, Department of Art and Archaeology of the Ancient World</td>
        </tr>
        <tr>
          <td>Andrey Kudryavitsliy</td>
          <td>photographer</td>
        </tr>
        <tr>
          <td>Alexandr Lesukhin</td>
          <td>web design</td>
        </tr>
        <tr>
          <td>Polina Lyubimova</td>
          <td>editing of Russian</td>
        </tr>
        <tr>
          <td>Tatiana Potapova</td>
          <td>Chief curator</td>
        </tr>
        <tr>
          <td>Fedor Ratnikov</td>
          <td>DOP</td>
        </tr>
        <tr>
          <td>Olga Samar</td>
          <td>Senior Researcher at the Department of Art and Archaeology of the Ancient World</td>
        </tr>
        <tr>
          <td>Elena Sinitsyna</td>
          <td>art conservator</td>
        </tr>
        <tr>
          <td>Maya Shulepova</td>
          <td>Art Director, Head of Online and Video Projects</td>
        </tr>
        <tr>
          <td>Igor Tkachev</td>
          <td>graphic artist</td>
        </tr>
        <tr>
          <td>Vladimir Tolstikov</td>
          <td>Head of the Department of Art and Archaeology of the Ancient World </td>
        </tr>
        <tr>
          <td>Mikhail Tulubenskiy</td>
          <td>art conservator</td>
        </tr>
        <tr>
          <td>Yuriy Voronin</td>
          <td>art conservator</td>
        </tr>
        <tr>
          <td>Jordan Worsley</td>
          <td>voiceover</td>
        </tr>
        <tr>
          <td>Dmitry Zavigelskiy</td>
          <td>DOP</td>
        </tr>
      </table>

      <h2>Bruker Ltd.</h2>
      <table>
        <tr>
          <td>Grigory Kuznetsov, PhD</td>
          <td>Head of Bruker Nano department Russia and CIS</td>
        </tr>
      </table>
      <p></p>

      <h2>Ostec Art-Tool Ltd.</h2>
      <table>
        <tr>
          <td>Zakhar Primushko</td>
          <td>General Director </td>
        </tr>
        <tr>
          <td>Alexander Frolov</td>
          <td>Head of Business Unit</td>
        </tr>
        <tr>
          <td>Vladimir Skorobogatov</td>
          <td>Engineer</td>
        </tr>
      </table>
    </div>
  </div>
</section>
