<nav class="main-nav">
  <button class="main-nav__button" type="button" aria-expanded="false" aria-controls="main-nav__list">
    <svg class="main-nav__icon" aria-hidden="true" width="32" height="32">
      <use class="main-nav__icon-menu" href="images/sprite_auto.svg#menu"></use>
      <use class="main-nav__icon-cross" href="images/sprite_auto.svg#cross"></use>
    </svg>
  </button>
  <ul class="main-nav__list" id="main-nav__list">
    {% import "data/main-nav.html" as nav %}

    {% for item in nav.list %}
    <li class="main-nav__item">
      {% if lang == 'ru' %}
      <a class="main-nav__link main-nav__link--current" href="index.html#{{item.link}}">{{item.title}}</a>
      {% elif lang == 'en' %}
      <a class="main-nav__link main-nav__link--current" href="index-eng.html#{{item.link}}">{{item.title_en}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
