<section class="promo  swiper-slide  main-slide" id="promo" data-hash="promo">
  <div id="parallax"></div>
  <h1 class="promo__title">
    The Gold <br>of Troy
    <span class="promo__text">From the Pushkin State Museum of Fine Art</span>
  </h1>

  <div class="promo__mobile-attention">
    Переверните
    телефон
    <img src="images/phone-icon.svg" alt="">
  </div>
  <div class="promo__main-text">
    <p><i>The Pushkin State Museum of Fine Arts with the support of the Polyus gold mining company has launched a
        research project to study a group of objects from the world-famous Trojan collection of Heinrich Schliemann.
        During the first phase of the project, 65 jewellery items from all 13 treasures kept in the museum will be
        studied. </i>
    </p>
    <p>The collection of 259 objects stored and displayed at the Pushkin State Museum of Fine Arts comprises objects
      from 13 treasures discovered by Heinrich Schliemann during his excavations of Troy in 1873, and also in 1878-1890.
      This includes various jewellery, vessels, anthropomorphic figurines, hammers, rock crystals, etc. Of the 19
      treasures stored in Berlin since 1881, 13 were brought to Moscow, mostly they contained items made of precious
      metals and stone.
    </p>
    <p>The research project undertaken by the Pushkin Museum with the support of the Polyus gold mining company is a
      worldwide academic event. The first stage will consist of macro photography and the study of the composition of
      the metals on a special machine. The items in the Trojan collection either exist as a single copy or have few
      equivalents. They have never before been studied using advanced scientific methods. Today marks the beginning of a
      completely new stage in the history of this unique collection. All stages of the work will be filmed to make a
      series.
    </p>
  </div>
</section>
