<section class="timeline-section  swiper-slide  main-slide" id="timeline" data-hash="timeline">
  <!-- <div class="timeline-section__wrapper"> -->

  <div class="timeline">
    <div class="timeline__content">
      <h2 class="timeline__promo-title">History</h2>
      <div class="timeline__promo">
        <p>In 1945, by the decision of the Soviet Control Commission, the only legitimate authority following the
          signing of the Instrument of Surrender of Nazi Germany, many artworks from German museums were taken to the
          USSR as partial reparation for the damage caused by the Nazis during their temporary occupation of Soviet
          territories. Among them was the Trojan collection of Heinrich Schliemann, part of which - 260 items - the most
          valuable objects of gold, electrum, silver, rock crystal and stone were transferred to the Pushkin State
          Museum of Fine Arts, while 414 items, mainly bronzes and ceramics, were sent to the State Hermitage. Since
          1949 all these antiquities were kept without the right to be published and exhibited, as by the decision of
          the USSR authorities they were classified as a "special collection". </p>

        <p>The Trojan collection was initially exhibited in Berlin in the Museum of Natural History, and from 1922, in
          the Museum of Prehistory and Early History. However, in January 1941, during the Second World War instigated
          by Nazi Germany, the Trojan treasure, together with other more valuable works of art from Berlin museums which
          had been classified as "irreplaceable", were placed by special decree in the safe depository of the Prussian
          State Bank. Later, in November 1941, because of the danger of the British bombing, the unique Trojan objects
          were moved to the concrete bunker of the anti-aircraft battery built near the Berlin zoo (Flakturm am Zoo). It
          was here in April 1945 that the Trojan collection was handed over by Wilhelm Unverzagt, director of the Museum
          of Prehistory and Early Art, to a Soviet officer.
        </p>

        <p>Between 1941 and 1995, Schliemann's Trojan Collection remained inaccessible to scholars and the general
          public alike. What's more, it was thought to have been lost forever. The myth of the "Priam's gold" acquired
          new legends and speculations when in December 1994 - January 1995, authoritative experts in the study of
          Bronze Age cultures from Germany, the United States, Britain, Turkey and Greece for the first time had the
          opportunity to examine in detail the Schliemann collection in the Pushkin Museum. They unanimously confirmed
          its authenticity and excellent state of preservation. The exhibition "Treasures of Troy from Heinrich
          Schliemann's Excavations" opened at the Pushkin State Museum of Fine Arts on 15 April 1996 and allowed
          hundreds of thousands of people from all over the world to see the treasures.</p>

        <!-- <p class="timeline__more-text">Узнать больше про коллекцию можно, нажав на любую из дат на таймлайне</p> -->

      </div>
      <ul class="timeline__content-list  ">
        {% import "../../data/data.html" as items %}
        {% for item in items.years %}
        <li class="timeline__content-item  person" data-popup-modal="year-id-{{item.id}}">
          <article class="timeline__article  person__description">
            <div class="">
              <!-- Тут будет фото -->
            </div>
            <div class="person__text">
              <h2><span>{{item.title | safe}}</span> </h2>
              <p>{{item.subtitle | safe}}</p>

            </div>

            <!-- <div class="timeline__pins">
              <svg width="1440" height="922" viewBox="0 0 1440 922" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <image href="{{item.image}}" width="1440" height="922" />
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                  {% for pin in item.pinslist %}
                  <g class="timeline__pin" id="{{pin.id}}" data-id="{{pin.text}}"
                    transform="translate({{pin.x}}.000000, {{pin.y}}.000000)">
                    <circle fill="#FAD398" fill-rule="nonzero" cx="20.5" cy="20.5" r="13.5"></circle>
                    <circle stroke="#FAD398" cx="20.5" cy="20.5" r="20"></circle>
                    <polygon id="Path" fill="#000000" fill-rule="nonzero"
                      points="19.867 25.8 19.867 21.68 15.707 21.68 15.707 20.24 19.867 20.24 19.867 16.12 21.347 16.12 21.347 20.24 25.507 20.24 25.507 21.68 21.347 21.68 21.347 25.8">
                    </polygon>
                  </g>
                  {% endfor %}
                </g>
              </svg>
              <div class="timeline__pin-description"></div>
            </div> -->
          </article>


        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="timeline__line">
      <div class="timeline__years-slider-prev  swiper-button-prev"></div>
      <div class="timeline__list-years  timeline__years-slider  swiper-container">
        <div class="swiper-wrapper">
          {% import "../../data/data.html" as items %}
          {% for item in items.years %}
          <div class="timeline__list-year  swiper-slide">
            <button class="timeline__year-btn  popup-trigger" data-popup-trigger="year-id-{{item.id}}"
              type="button">{{item.year_en}}</button>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="timeline__years-slider-next  swiper-button-next"></div>
    </div>
  </div>
  <!-- </div> -->
</section>
