<section class="timeline-section  swiper-slide  main-slide" id="timeline" data-hash="timeline">
  <!-- <div class="timeline-section__wrapper"> -->

  <div class="timeline">
    <div class="timeline__content">
      <h2 class="timeline__promo-title">Историческая справка</h2>
      <div class="timeline__promo">
        <p>В 1945 году по решению Советской контрольной комиссии – единственного легитимного органа власти после
          подписания акта о безоговорочной капитуляции нацистской Германии, многие памятники искусства из германских
          музеев были вывезены в СССР в качестве частичного возмещения ущерба, нанесенного фашистами в период временной
          оккупации советских территорий. В их числе была и троянская коллекция Генриха Шлимана, часть которой, а именно
          260 единиц хранения – наиболее ценные экспонаты из золота, электра, серебра, горного хрусталя и камня, – были
          переданы на хранение в ГМИИ им. А.С. Пушкина, а 414 предметов, главным образом из бронзы и керамики,
          направлены в Государственный Эрмитаж. С 1949 года все эти древности хранились без права их публикации и
          экспонирования, поскольку по решению руководства СССР были отнесены к особому фонду.</p>

        <p>Первоначально троянская коллекция экспонировалась в Берлине в Музее народоведения, а с 1922 года – в Музее
          доисторического периода и ранней истории. Однако в январе 1941 года, в ходе развязанной нацистской Германией
          Второй Мировой войной, троянские клады, вместе с другими наиболее ценными произведениями искусства из
          берлинских музеев, причисленных к категории «невосполнимых», специальным распоряжением были помещены в
          депозитарий Прусского государственного банка. Позднее, в ноябре 1941 года, из-за угрозы английских
          бомбардировок, уникальные троянские древности перевели в бетонированный бункер противозенитной батареи,
          сооруженной близ берлинского зоопарка (Flakturm am Zoo). Здесь в апреле 1945 года Троянская коллекция и была
          передана находившимся при ней директором Музея доисторического периода и ранней истории Вильгельмом
          Унферцагтом офицеру Советской Армии.</p>

        <p>С 1941 по 1995 год троянская коллекция Шлимана оставалась недоступной как для ученых, так и для широкой
          общественности. Более того, она считалась навсегда утраченной. Миф о «Золоте Приама» обрастал все новыми
          легендами и домыслами, когда в декабре 1994 – январе 1995 года ряд авторитетных специалистов-экспертов в
          области изучения культур эпохи бронзы из Германии, США, Англии, Турции и Греции впервые получили возможность
          детально ознакомиться с хранящейся в Пушкинском музее коллекцией Шлимана. Они единодушно подтвердили ее
          подлинность и прекрасную сохранность. Открытие выставки «Сокровища Трои из раскопок Генриха Шлимана»,
          состоявшееся в ГМИИ им. А.С. Пушкина 15 апреля 1996 года, позволило увидеть эти сокровища сотням тысяч людей
          из разных стран мира. </p>

        <p class="timeline__more-text">Узнать больше про коллекцию можно, нажав на любую из дат на таймлайне</p>

      </div>
      <ul class="timeline__content-list  ">
        {% import "../../data/data.html" as items %}
        {% for item in items.years %}
        <li class="timeline__content-item  person" data-popup-modal="year-id-{{item.id}}">
          <article class="timeline__article  person__description">
            <div class="person__photo">
              Тут будет фото
            </div>
            <div class="person__text">
              <h2><span>{{item.title}}</span> </h2>
              <p>{{item.subtitle}}</p>

            </div>

            <!-- <div class="timeline__pins">
              <svg width="1440" height="922" viewBox="0 0 1440 922" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <image href="{{item.image}}" width="1440" height="922" />
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                  {% for pin in item.pinslist %}
                  <g class="timeline__pin" id="{{pin.id}}" data-id="{{pin.text}}"
                    transform="translate({{pin.x}}.000000, {{pin.y}}.000000)">
                    <circle fill="#FAD398" fill-rule="nonzero" cx="20.5" cy="20.5" r="13.5"></circle>
                    <circle stroke="#FAD398" cx="20.5" cy="20.5" r="20"></circle>
                    <polygon id="Path" fill="#000000" fill-rule="nonzero"
                      points="19.867 25.8 19.867 21.68 15.707 21.68 15.707 20.24 19.867 20.24 19.867 16.12 21.347 16.12 21.347 20.24 25.507 20.24 25.507 21.68 21.347 21.68 21.347 25.8">
                    </polygon>
                  </g>
                  {% endfor %}
                </g>
              </svg>
              <div class="timeline__pin-description"></div>
            </div> -->
          </article>


        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="timeline__line">
      <div class="timeline__years-slider-prev  swiper-button-prev"></div>
      <div class="timeline__list-years  timeline__years-slider  swiper-container">
        <div class="swiper-wrapper">
          {% import "../../data/data.html" as items %}
          {% for item in items.years %}
          <div class="timeline__list-year  swiper-slide">
            <button class="timeline__year-btn  popup-trigger" data-popup-trigger="year-id-{{item.id}}"
              type="button">{{item.year}}</button>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="timeline__years-slider-next  swiper-button-next"></div>
    </div>
  </div>
  <!-- </div> -->
</section>
