{% set pageTitle = "Story of Troy" %}
<section class="person  swiper-slide  main-slide" data-hash="troy-story">
  <div class="map">
    <div class="map__wrapper">
      <h2 class="map__title">{{pageTitle}}</h2>
      <div class="map__slider-left  swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="images/maps/troy-2.jpg" data-fancybox="gallery"><img
                src="images/maps/troy-2.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="images/maps/troy-6.jpg" data-fancybox="gallery"><img
                src="images/maps/troy-6.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="images/maps/troy-7.jpg" data-fancybox="gallery"><img
                src="images/maps/troy-7.jpg" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="map__slider-right  swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h2>Troy II</h2>
            <p><i>A brief historical overview</i></p>
            <p>In contemporary historical theory, the archaeological horizon of Troy II at Hissarlik Hill (present-day
              Turkey) is attributed to the Early Bronze Age, namely the period of the so-called "maritime culture", as
              its influence extended to the northern coast of the Aegean and Marmara Seas. Troy II lasted approximately
              300 years, between 2550 and 2250 B.C. This period was characterized by the development of nautical skills,
              the expansion of trade and economic relations, the revival of metallurgy, in particular the improvement of
              toreutics – the art of making jewellery out of precious metals – and the introduction of the potter's
              wheel into pottery production.</p>

            <p>The core of Troy II settlement was an acropolis situated on the hilltop with an 11 thousand sq.m. area,
              defended by 330-meter long defensive walls. Under the protection of these fortifications, which consisted
              of a strong base made of stone up to 6 meters high with a wall of adobe bricks up to 3 meters high,
              megaron buildings were located, which were used for religious ceremonies and meetings of the ruling elite
              of the settlement. </p>

            <p>During archaeological excavations, it was established that the period of Troy II included at least eight
              construction phases, recording repeated extensions and improvements to the acropolis fortifications, e.g.
              the perimeter walls were reinforced by square bastions, and the main gates (FO and FM) were provided with
              a monumental inclined stone-paved ramp which was 21 metres long and 7.5 metres wide.</p>

            <p>The lower town, which housed most of Troy II's population, adjoined the acropolis hill on the southern
              side. This lowland city was protected by a strong wooden paling and its area was about 90,000 square
              meters.</p>

            <p>Excavations have shown that three of the eight building phases of Troy II ended with fires and
              destruction of the settlement. Under and in these layers of fire, 19 groups of objects marked as
              "treasures" were discovered, a denomination that has become part of the science of Troy II. The largest of
              these was found by Heinrich Schliemann in 1873 and was named the "Treasure of King Priam" (Treasure A).
              Later, these treasures were given letter designations. </p>

            <p>259 items from 13 treasures (A, B, D, E, F, Ha, Hb, J, K, L, N, O, R) are now in the collection of the
              Pushkin State Museum of Fine Arts and are displayed in Room 3.
            </p>
          </div>

          <div class="swiper-slide">
            <h2>TROY VI</h2>
            <p>After the catastrophe that destroyed the settlement on Hissarlik Hill, known scientifically as Troy II, a
              considerable period of time elapsed during which three settlements, designated Troy III, Troy IV and Troy
              V, successively arose and disappeared on this site.</p>

            <p>Around 1750 B.C. i.e. Late Bronze Age the settlement of Troy VI was established on the site that included
              a citadel and a lower town. As far as can be judged, the inhabitants of Troy VI had nothing in common with
              the population of Troy II neither genetically nor culturally.
            </p>

            <p>Scholars have divided the existence of Troy VI into three phases: early, middle and late. In its early
              period, the citadel was surrounded by a defensive wall, which became higher and thicker as it developed
              and encompassed a larger and larger perimeter. The late period Troy VI Citadel wall was 530 metres long
              and protected an area of approximately 1.8 hectares. Under the protection of these strong, turreted walls,
              there were megaron-type buildings on the terraces, some of which were two stories high. Obviously, these
              monumental structures served as dwellings for the privileged class of Troy's population and as places of
              worship. 
            </p>

            <p>Late period fortress walls and citadel buildings of Troy VI were partly destroyed by a strong earthquake
              in 1300 BC. The reconstruction of the citadel belongs to the next period, named Troy VIIa. 
            </p>


          </div>
          <div class="swiper-slide">
            <h2>TROY VIIa</h2>
            <p>This period is characterized by the increasing military threat and willingness of citadel inhabitants to
              further strengthen the defence system. For this purpose, the openings of south-western (VI U) and eastern
              (VI S) gates were blocked. Under the protection of the fortification, a lot of houses were built, but they
              were smaller and attached to the inner side of the defensive wall, along which wide streets previously
              lined the citadel. Buried pithoi for storing supplies have been found in the floors of these houses; some
              of the houses probably served only as storehouses, while others had additional equipment, such as ovens,
              cookers, grain mills and weaving looms. This suggests a change, namely a lowering of the status of the
              citadel population.</p>

            <p><strong>The lower town</strong></p>
            <p>The excavations, begun in 1988 under the direction of Professor Manfred Korfmann, have greatly changed
              our understanding of Ilion - Troy. One of the most important results was the localization of the
              boundaries of the lower town of Troy VI and VIIa. It was found that since the middle phase of Troy VI the
              settlement was surrounded by a moat cut in a rock which served as an obstacle for enemy's chariots attack
              - the newest and the most terrible weapon of II millennium BC. It is probable that the population of Troy
              during this period could be from 5 up to 10 thousand inhabitants.</p>

            <p>Troy VIIa was lost in the fire approximately in 1190-1180 BC. American archaeologist Charles Blegen has
              suggested that this destruction is connected to the Trojan War, chronicled by Homer. Blegen's hypothesis
              is supported by the fact that the destruction of Mycenaean centres in Greece, the end of the great Hittite
              empire and the onslaught of the Sea Peoples on the Levant and Egypt all belong to the same period. The
              combination of these events marks the end of the Late Bronze Age. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
