<section class="video-section  swiper-slide  main-slide" data-hash="video">
  <div class="video-section__wrapper">

    <div class="swiper-container gallery-top">
      <div class="swiper-wrapper">
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/sv5PMe2Eg_Y">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/sv5PMe2Eg_Y/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/sv5PMe2Eg_Y/maxresdefault.jpg"
                alt="Марина Лошак о проекте «Золото Трои»">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/e2onUuro7dc">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/e2onUuro7dc/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/e2onUuro7dc/maxresdefault.jpg"
                alt="Павел Грачёв о проекте «Золото Трои»">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/YTINRtXTzjc">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/YTINRtXTzjc/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/YTINRtXTzjc/maxresdefault.jpg"
                alt="A new way to the Treasures of Troy II">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/6VLqGj3tcZI">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/6VLqGj3tcZI/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/6VLqGj3tcZI/maxresdefault.jpg"
                alt="Сюжеты Троянского цикла в античной вазописи">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/MdYGDuLYyWs">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/MdYGDuLYyWs/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/MdYGDuLYyWs/maxresdefault.jpg"
                alt="Кто такой Гомер?">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/5vLrU59QQGI">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/5vLrU59QQGI/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/5vLrU59QQGI/maxresdefault.jpg"
                alt="Троянская война и «Народы моря»: от мифа к истории">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
        <div class="video  swiper-slide">
          <a class="video__link" href="https://youtu.be/TCrWWqzMuiY">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/TCrWWqzMuiY/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/TCrWWqzMuiY/maxresdefault.jpg"
                alt="Тайны троянских кладов">
            </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g class="video__button-shape" opacity="0.9">
                <circle cx="94" cy="94" r="94" fill="#F2CC91" />
                <path d="M127 94.5L76.75 123.512V65.4881L127 94.5Z" fill="#1C1C1F" />
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div thumbsSlider="" class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/sv5PMe2Eg_Y/maxresdefault.webp" type="image/webp">
              <img src="https://i.ytimg.com/vi/sv5PMe2Eg_Y/maxresdefault.jpg"
                alt="Марина Лошак о проекте «Золото Трои»">
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/e2onUuro7dc/maxresdefault.webp" type="image/webp">
              <img src="https://i.ytimg.com/vi/e2onUuro7dc/maxresdefault.jpg"
                alt="Павел Грачёв о проекте «Золото Трои»">
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/YTINRtXTzjc/maxresdefault.webp" type="image/webp">
              <img src="https://i.ytimg.com/vi/YTINRtXTzjc/maxresdefault.jpg"
                alt="A new way to the Treasures of Troy II">
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/6VLqGj3tcZI/maxresdefault.webp" type="image/webp">
              <img src="https://i.ytimg.com/vi/6VLqGj3tcZI/maxresdefault.jpg"
                alt="Сюжеты Троянского цикла в античной вазописи">
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/MdYGDuLYyWs/maxresdefault.webp" type="image/webp">
              <img src="https://i.ytimg.com/vi/MdYGDuLYyWs/maxresdefault.jpg" alt="Кто такой Гомер?">
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/5vLrU59QQGI/maxresdefault.webp" type="image/webp">
              <img src="https://i.ytimg.com/vi/5vLrU59QQGI/maxresdefault.jpg"
                alt="Троянская война и «Народы моря»: от мифа к истории">
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/TCrWWqzMuiY/maxresdefault.webp" type="image/webp">
              <img class="video__media" src="https://i.ytimg.com/vi/TCrWWqzMuiY/maxresdefault.jpg"
                alt="Тайны троянских кладов">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
