---
id: 1
title: Flask
subtitle: with spherical body
description: Description test
lang: en
num: Аар 3, Бз 292, П 422, А 5862
material: Gold; weight 398.24 g
tech: Drawing, soldering, graining
size: Maximum height 13.73 cm; diameter 13.5 cm; interior diameter of the mouth 2.5 cm; exterior diameter 3.4 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Spherical vessel with a short cylindrical neck and flatly everted outer rim. To form the rim, the upper
            part of the neck was first turned outwards and then folded back inside and rolled in. The neck abruptly
            expands into a spherical body without a pronounced base. Around the central part of the circumference of the
            body are distinct traces of a three-tier frieze consisting of vertically extended rhombuses. In most cases
            the outlines of the rhombuses are defined by very fine horizontal scratches filled with a dark material.</p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
