---
id: 43
title: Hair-ring
subtitle: with five lobes
description: Description test
lang: en
num: Аар 104, Бз 279, П 405, D 5977
material: Gold; weight 2.48 g.
tech: Drawing, soldering
size: Diameter 1.6 cm; maximum width 0.71 cm; diameter of hook 0.12 cm.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>A crescent-shaped item of jewelry made of five wires soldered together, thickening in the center and beaten
            out into a rounded hook at one end. The hook extends into a sharpened wire curved along the contour of the
            crescent.</p>
          <p>The wire is bent and there are small cavities. It is slightly soiled. Traces of the black India ink of the
            inventory number on the side are barely visible.</p>
        </div>

        <ul class="item__article-thumbs">
          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
