---
id: 4
next: 5
prev: 3
title: Кубок
subtitle: большой каннелированный
description: Description test
lang: ru
num: Аар 6, Бз 294, П 424, А 5865
material: Золото; вес 225,74 г.
tech: Ковка
size: Высота 8,7 см.; диаметр устья 7,9-8,0 см.; диаметр основания 3,9 см.; толщина стенок 0,13 см.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв. номер</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Кубок цилиндрической формы, скругленный книзу, завершающийся низким кольцевым поддоном. Прямые стенки
            плавно сужаются к поддону, обведенному валиком, подчеркнутому врезкой. По всей поверхности стенок идут
            вертикальные, выбитые изнутри 32 ребра, образующие грани-каннелюры шириной 0,7-0,8 см., не доходящие
            примерно 0,9 см. до края сосуда. Поддон имеет форму низкого кольцевидного валика, рельефно очерчивающего
            нижнюю форму донца.
          </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
