---
id: 1
next: 2
prev: 70
title: Фляга
subtitle: с шаровидным туловом
description: Description test
lang: ru
num: Аар 3, Бз 292, П 422, А 5862
material: Золото; вес 398,30 г.
tech: волочение, пайка, зернь
size: Высота макс 13,75 см.; диаметр 13,5 см.; диаметр устье внутр. 2,5 см.; внешний – 3,4 см.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Серьга в форме лунницы состоит из цельного полукольца, образованного массивной, утолщающейся в центральной
            части проволокой. Оно переходит в дужку круглого сечения, заканчивающуюся заостренной иглой, согнутой по
            контуру серьги. Лунница имеет трехгранное сечение; верхняя грань — слегка вогнута. Ребра украшены рядами
            зерни. Боковые грани орнаментированы дуговидными рядами зерни, повторяющими контуры лунницы — по восемь на
            каждой. Конец полукольца украшен шайбами, насаженными на круглый в сечении конец лунницы: средняя, имеет
            округлую форму с гладкими краями, крайние — подобной же формы с зубчатыми краями. Завершение полукольца
            закреплено подвижно.</p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
