---
id: 59
next: 60
prev: 58
title: Plate bracelet
subtitle: with spiral decoration
description: Description test
lang: en
num: Aap 122, Бз 41, П 83, F 6003
material: Gold; weight 61.81 g
tech: Forging, soldering, drawing
size: Length 9.0 cm; width 2.3 cm; thickness of plate 0.5 cm; wire rings diameter 0.04 cm
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Inv. no.</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Technique:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>The bracelet is made of wide gold plate; wire rims are soldered to the uneven everted edges of the
            bracelet. The bracelet is decorated with slightly uneven lengthwise rows of spectacle-shaped double spirals
            made of thin wire, soldered on to the outside. The elements of the rosettes vary in size. The upper and
            lower rows of spirals are oriented in opposite directions and are slightly offset from one another.</p>
        </div>

        <ul class="item__article-thumbs">
          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
