---
id: 2
next: 3
prev: 1
title: Кубок
subtitle: ладьевидный с двумя ручками
description: Description test
lang: ru
num: Аар 3, Бз 292, П 422, А 5862
material: Золото; вес 600,80 г
tech: Ковка (выколотка), пайка, штамповка
size: Длина 18,5 см.; ширина 18,0 см.; высота 8,7 см.; толщина стенок 0,16 – 0,24 см.; толщина ручек 1,7 см.
---
{% extends "layouts/_layout-item.html" %}

{% block content %}

<section class="item">
  <div class="item__wrapper">
    <article class="item__article">
      <header class="item__article-header">
        <h1 class="item__article-name">{{title}}</h1>
        <p class="item__article-name-description">{{subtitle}}</p>
        <table>
          <tr>
            <td>Инв. номер</td>
            <td>{{num}}</td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td>{{material}}</td>
          </tr>
          <tr>
            <td>Техника:</td>
            <td>{{tech}}</td>
          </tr>
          <tr>
            <td>Размеры:</td>
            <td>{{size}}</td>
          </tr>
        </table>
      </header>
      <div class="item__article-content">
        <div class="item__article-photos">
          <div class="item__article-full-photo"><a href="../../../images/items/{{id}}/1200-1.png"
              data-modal="pic-1"><img src="../../../images/items/{{id}}/1200-1.png" alt="{{title}}" loading="lazy"></a>
          </div>
        </div>
        <div class="item__arcticle-text">
          <p>Сосуд ладьевидной формы с горизонтальным краем, повышающимся с обоих концов, с ассиметрично оформленными
            стенками и устьями. На внутренней поверхности вместилища отчетливо видны следы инструментов, применявшихся в
            процессе ковки сосуда, а также многочисленные мелкие царапины, идущие в продольном направлении. Внешняя
            поверхность значительно более ровная, без выраженных следов ковки. Симметрично расположенные ручки
            петлевидной формы плавно расширяются к нижним концам.
          </p>
        </div>

        <ul class="item__article-thumbs">

          {% for item in range(1, 5) -%}
          <li class="item__article-thumb"><a href="../../../images/items/{{id}}/1200-{{item}}.png"
              data-modal="pic-{{item}}"><img src="../../../images/items/{{id}}/125-{{item}}.png" alt="{{title}}"
                loading="lazy"></a></li>
          {%- endfor %}
        </ul>

        <div class="modal"></div>
      </div>
    </article>
  </div>
</section>

{% endblock %}
